.divide {
  border-bottom: 1px solid #ccc;
}

.card {
  border: unset;
}

.card-header {
  border: unset;
  font-weight: normal;
  color: black;
  background-color: unset;
  border-bottom: 1px solid #ccc;
}

.card-header i {
  float: left;
  margin-top: unset;
  margin-left: unset;
  margin-right: 10px;
}
