<div class="row">
  <div class="col-12">
    <div class="card box" [class.opened]="showFormStatus()">
      <div class="card-header">
        <div class="row">
          <div class="col-12">{{ formTitle }}</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
            <form [formGroup]="roleForm" (submit)="!isLoading ? submitForm() : false">
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-12 form-group">
                      <label class="label">
                        {{'SCREEN.SYSTEM.ROLE.FORM.NAME'| translate}}
                      </label>
                      <mat-form-field class="form-control">
                        <input matInput id="name" formControlName="name" maxlength="50" tabindex="1" autocomplete="off" />
                      </mat-form-field>
                      <mat-error *ngIf="isSubmit && roleForm.controls['name'].errors?.required">
                        {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                      </mat-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 form-group">
                      <label class="label">
                        {{'SCREEN.SYSTEM.ROLE.FORM.DESCRIPTION'| translate}}
                      </label>
                      <textarea rows="3" formControlName="description" maxlength="255" class="form-control"
                        tabindex="2"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">
                        {{ 'TABLE.LIST.ACTIVE' | translate }}
                      </label>
                      <div class="input-group">
                        <mat-checkbox class="ml-10" tabindex="4" formControlName="isActive">
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2"></div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  Danh sách chức năng
                  <br/>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <div class="divide"></div>
                </div>
              </div>
              <div class="row detail-function">
                <div class="col-12 form-group">
                  <div class="card" *ngFor="let module of currentModule">
                    <div class="card-header">
                      <i class="fa fa-tags" aria-hidden="true"></i>
                      <h3>{{ 'SCREEN.' + module.name + '.TITLE' | translate | uppercase }}</h3>
                    </div>
                    <div class="card-body" *ngIf="!isLoading">
                      <div class="row">
                        <app-system-role-permission class="col-lg-2 col-md-3 col-sm-4 col-xs-12"
                          *ngFor="let f of getListParentFunctionWithoutChild(module.code)"
                          [Function]="f"
                          [ModuleName]="module.name"
                          [ParentName]=""
                          [Roles]="roleDetails"
                          (listCommandSelected)="commandSelectedListener($event)">
                        </app-system-role-permission>
                      </div>
                      <div class="row">
                        <div class="col-12" *ngFor="let func of getListParentFunctionHasChild(module.code)">
                          <h4>{{ func.name }}</h4>
                          <div class="row">
                            <app-system-role-permission class="col-lg-2 col-md-3 col-sm-4 col-xs-12"
                              *ngFor="let f of getListChildFunction(module.code, func.code)"
                              [Function]="f"
                              [ModuleName]="module.name"
                              [ParentName]="func.name"
                              [Roles]="roleDetails"
                              (listCommandSelected)="commandSelectedListener($event)">
                            </app-system-role-permission>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group" *ngIf="formAction != 0">
                  <input *ngIf="permission.allowUpdate || permission.allowDelete" type="submit" class="btn btn-success" [value]="'BUTTON.SAVE' | translate" tabindex="5">
                  <button type="button" class="btn btn-warning" tabindex="6" (click)="onResetClick()">
                    {{ 'BUTTON.RESET' | translate }}
                  </button>
                  <button type="button" class="btn btn-secondary" tabindex="7" (click)="onCloseClick()">
                    {{ 'BUTTON.CLOSE' | translate }}
                  </button>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
