.divide {
  border-bottom: 1px solid #ccc;
}

.detail-function .card {
  border: unset;
}

.detail-function .card-header {
  border: unset;
  font-weight: normal;
  color: black;
  background-color: unset;
  border-bottom: 1px solid #ccc;
}

.detail-function .card-header i {
  float: left;
  margin-top: unset;
  margin-left: unset;
  margin-right: 10px;
}

.box.opened {
  max-height: 2500px;
}
