<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12">Thông tin gia đình</div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <app-element-loading [Show]="isLoading"></app-element-loading>
            <form [formGroup]="form" (submit)="!isSubmit ? onSubmit() : false;">
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.RELATIONSHIP.FULL_NAME' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput id="fullName" formControlName="fullName" maxlength="100" required tabindex="1" autocomplete="off" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && form.controls['fullName'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.RELATIONSHIP.ADDRESS' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="address" maxlength="255" tabindex="2" autocomplete="off" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.RELATIONSHIP.MOBILE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="mobile" maxlength="15" tabindex="3" autocomplete="off" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.RELATIONSHIP.RELATIONSHIP_TYPE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <mat-select formControlName="relationshipTypeId" required tabindex="4">
                      <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                      <mat-option *ngFor="let item of listRelationShip" [value]="item.id">{{ item.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && form.controls['relationshipTypeId'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-12 form-group" *ngIf="formAction !== 0">
                  <input type="submit"
                    class="btn btn-success" [value]="'BUTTON.SAVE' | translate" tabindex="4">
                  <button type="button" class="btn btn-warning" (click)="onResetClick()">
                    {{ 'BUTTON.RESET' | translate }}
                  </button>
                  <button type="button" class="btn btn-secondary" (click)="onCloseClick()">
                    {{ 'BUTTON.CLOSE' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
