<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ panelTitle }}</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
            <div class="employee-img"> Image </div>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
            <form [formGroup]="employeeForm" (submit)="!isSubmit ? submitForm() : false">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">First Name</label>
                      <input type="text" id="firstName" class="form-control" formControlName="firstName" maxlength="50"
                        tabindex="1">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">Last Name</label>
                      <input type="text" class="form-control" formControlName="lastName" maxlength="50" tabindex="2">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">Working Email</label>
                      <mat-form-field class="form-control">
                        <input matInput formControlName="workingEmail" maxlength="50" tabindex="3" required />
                      </mat-form-field>
                      <mat-error *ngIf="isSubmit && employeeForm.controls['workingEmail'].errors?.required"> This field
                        is required </mat-error>
                      <mat-error *ngIf="isSubmit && employeeForm.controls['workingEmail'].errors?.email"> Email is
                        invalid </mat-error>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">Working Phone</label>
                      <input type="text" class="form-control" formControlName="workingPhone" maxlength="25"
                        tabindex="4">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">Card Number</label>
                      <input type="text" class="form-control" formControlName="badgeCardNumber" maxlength="10"
                        tabindex="5">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">Date Apply</label>
                      <mat-form-field class="form-control">
                        <input matInput [matDatepicker]="dateApplyBadgeDatepicker" formControlName="dateApplyBadge"
                          maxlength="10" tabindex="6">
                        <mat-datepicker-toggle matSuffix [for]="dateApplyBadgeDatepicker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #dateApplyBadgeDatepicker></mat-datepicker>
                      </mat-form-field>
                      <mat-error *ngIf="isSubmit && employeeForm.controls['dateApplyBadge'].errors?.date"> Date is
                        invalid </mat-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">Finger Sign Number</label>
                      <input type="text" class="form-control" formControlName="fingerSignNumber" maxlength="10"
                        tabindex="7">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                      <label class="label">Apply Date</label>
                      <mat-form-field class="form-control">
                        <input matInput [matDatepicker]="dateApplyFingerSignDatepicker"
                          formControlName="dateApplyFingerSign" maxlength="10" tabindex="8">
                        <mat-datepicker-toggle matSuffix [for]="dateApplyFingerSignDatepicker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #dateApplyFingerSignDatepicker></mat-datepicker>
                      </mat-form-field>
                      <mat-error *ngIf="isSubmit && employeeForm.controls['dateApplyFingerSign'].errors?.date"> Date is
                        invalid </mat-error>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                      <label class="label">Probation Date</label>
                      <mat-form-field class="form-control">
                        <input matInput [matDatepicker]="probationDateDatepicker" formControlName="probationDate"
                          maxlength="10" tabindex="9">
                        <mat-datepicker-toggle matSuffix [for]="probationDateDatepicker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #probationDateDatepicker></mat-datepicker>
                      </mat-form-field>
                      <mat-error *ngIf="isSubmit && employeeForm.controls['dateApplyFingerSign'].errors?.date"> Date is
                        invalid </mat-error>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                      <label class="label">Working Date</label>
                      <mat-form-field class="form-control">
                        <input matInput [matDatepicker]="startWorkingDateDateicker" formControlName="startWorkingDate"
                          maxlength="10" tabindex="10">
                        <mat-datepicker-toggle matSuffix [for]="startWorkingDateDateicker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #startWorkingDateDateicker></mat-datepicker>
                      </mat-form-field>
                      <mat-error *ngIf="isSubmit && employeeForm.controls['dateApplyFingerSign'].errors?.date"> Date is
                        invalid </mat-error>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                      <label class="label">Employee Status</label>
                      <input type="text" class="form-control" formControlName="employeeWorkingStatusId" maxlength="10"
                        tabindex="11">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                      <label class="label">Basic Salary</label>
                      <input type="text" appFormatCurrency class="form-control" formControlName="basicSalary"
                        maxlength="12" tabindex="12"> </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="submit" class="btn btn-success" value="Save" tabindex="13"
                    *ngIf="formAction === 1 || (formAction === 2 && isEditEmployee)">
                  <button type="button" class="btn btn-success" tabindex="14"
                    *ngIf="formAction === 2 && !isEditEmployee" (click)="edit()">Edit</button>
                  <button type="button" class="btn btn-danger" tabindex="15" (click)="cancel()"
                    *ngIf="formAction === 2 && isEditEmployee"> Cancel </button>
                  <button type="button" class="btn btn-warning" tabindex="15" (click)="reset()"> Reset </button>
                  <button type="button" class="btn btn-secondary" tabindex="16" (click)="close()"> Close </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav mat-tab-nav-bar [backgroundColor]="'primary'">
              <a mat-tab-link *ngFor="let link of employeeTabs" [routerLink]="link.link" routerLinkActive
                #rla="routerLinkActive" [active]="rla.isActive"> {{link.label}} </a>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
