.header {
    background-color: #8C2740;
    padding: .0rem 1rem;
    margin: 0 5px 5px;
}

.header a.nav-link {
    color: White;
}

.header .navbar-nav .nav-item .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}

.header .navbar-nav .nav-item .nav-link i {
    font-size: 15px;
    color: white;
}

.header .navbar-nav .nav-link .navbar-badge {
    top: 4px;
    position: absolute;
}