Backend/API/API.HR/obj/
Backend/Services/Service.HR/obj/
Backend/Services/Service.HR/bin/
Backend/API/API.Security/bin/
Backend/APIGateway/bin/
Backend/Core/Core.DataAccess/obj/
Backend/Core/Core.Services/bin/
Backend/Core/Core.Services/obj/
Backend/Core/Core.Utility/bin/
Backend/Core/Core.Utility/obj/
Backend/DataBase/DataBase.Sql.HR/obj/
Backend/DataBase/Database.Sql.Security/bin/
Backend/DataBase/Database.Sql.Security/obj/
Backend/Services/Service.Security/bin/
Backend/Services/Service.Security/obj/
Backend/Core/Core.CommonModel/obj/
Backend/Core/Core.DataAccess/bin/
Backend/Core/Core.CommonModel/bin/
Backend/Core/Core.CommonMessage/obj/
Backend/Core/Core.CommonMessage/bin/
Backend/APIGateway/obj/
Backend/DataBase/DataBase.Sql.HR/bin/
Backend/API/API.Security/obj/
Backend/API/API.HR/bin/
Backend/.vs/TDHCMS/v16/
Backend/.vs/TDHCMS/v15/
Backend/.vs/
Backend/DataBase/Database.Sql.Training/obj/
Backend/Services/Service.Training/bin/
Backend/Services/Service.Training/obj/
Backend/DataBase/Database.Sql.Training/bin/
Backend/API/API.Training/obj/
Backend/API/API.Training/bin/
Backend/DataBase/Database.Sql.ERP/bin/
Backend/DataBase/Database.Sql.ERP/obj/
Backend/API/API.System/bin/
Backend/API/API.System/obj/
Backend/Services/Services.System/obj/
Backend/debug.log
Backend/Services/Services.System/bin/
Backend/Services/Service.Common/obj/
Backend/Services/Service.Common/bin/
Backend/API/API.Common/bin/
Backend/API/API.Common/obj/
Backend/Services/Service.System/obj/
Backend/Services/Service.System/bin/
FontEnd/erp/debug.log
Backend/APIGateway/.config/dotnet-tools.json
Backend/APIGateway/Properties/PublishProfiles/
Backend/DataBase/Database.Sql.ERP/Database.Sql.ERP.csproj.user
Backend/APIGateway/File/

.vs/
src/ERPWebUI/bin/
src/ERPWebUI/obj/
src/Services/Assets/Assets.API/bin/
src/Services/Assets/Assets.API/obj/
