Backend/API/API.HR/obj/
Backend/Services/Service.HR/obj/
Backend/Services/Service.HR/bin/
Backend/API/API.Security/bin/
Backend/APIGateway/bin/
Backend/Core/Core.DataAccess/obj/
Backend/Core/Core.Services/bin/
Backend/Core/Core.Services/obj/
Backend/Core/Core.Utility/bin/
Backend/Core/Core.Utility/obj/
Backend/DataBase/DataBase.Sql.HR/obj/
Backend/DataBase/Database.Sql.Security/bin/
Backend/DataBase/Database.Sql.Security/obj/
Backend/Services/Service.Security/bin/
Backend/Services/Service.Security/obj/
Backend/Core/Core.CommonModel/obj/
Backend/Core/Core.DataAccess/bin/
Backend/Core/Core.CommonModel/bin/
Backend/Core/Core.CommonMessage/obj/
Backend/Core/Core.CommonMessage/bin/
Backend/APIGateway/obj/
Backend/DataBase/DataBase.Sql.HR/bin/
Backend/API/API.Security/obj/
Backend/API/API.HR/bin/
Backend/.vs/TDHCMS/v16/
Backend/.vs/TDHCMS/v15/
Backend/.vs/
