<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 content-page">
    <ul class="nav module-sidebar flex-column" role="menu" data-accordion="false">
      <li class="nav-item">
        <a href="javascript: {}" class="nav-link">
          <p>
            Dashboard
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/hr/commendation" class="nav-link">
          <p>
            Commendation
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript: {}" class="nav-link">
          <p>
            Discipline
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript: {}" class="nav-link">
          <p>
            Contract Type
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript: {}" class="nav-link">
          <p>
            Department
          </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/hr/employee" class="nav-link">
          <p>
            Employee
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openSideMenu('dashboard')" class="nav-link" [ngClass]="{'menu-open': linkSelected === 'dashboard'}">
          <p>
            Dashboard
            <i class="fa fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav" [ngStyle]="{'display' : linkSelected === 'dashboard' ? 'block' : 'none'}">
          <li class="nav-item">
            <a href="./index.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard v1</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./index2.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard v2</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./index3.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard v3</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a (click)="openSideMenu('department')" class="nav-link"
          [ngClass]="{'menu-open': linkSelected === 'department'}">
          <p>
            Department
            <i class="fa fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" [ngStyle]="{'display': linkSelected === 'department' ? 'block' : 'none'}">
          <li class="nav-item">
            <a href="./index.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard v1</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./index2.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard v2</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./index3.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard v3</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="javascript: {}" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Widgets
            <span class="right badge badge-danger">New</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/hr/province" class="nav-link">
          <p>
            Province
          </p>
        </a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
