<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12">{{ panelTitle }}</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="employee-img">
              <img [src]="fileUrl || '/assets/images/no-image.png'" />
              <div class="upload-btn-wrapper" *ngIf="isEditEmployee">
                <button class="btn btn-file"><i class="fa fa-upload" aria-hidden="true"></i></button>
                <input type="file" (change)="onSelectFile($event.target.files)" />
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
            <form [formGroup]="employeeForm" (submit)="!isSubmit ? submitForm() : false" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.CODE' | translate}}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput id="employeeCode" formControlName="employeeCode" maxlength="50"
                          tabindex="1" [readonly]="!isEditEmployee" autocomplete="off" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['employeeCode'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.FIRST_NAME' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput id="firstName" formControlName="firstName" maxlength="50"
                          tabindex="2" [readonly]="!isEditEmployee" autocomplete="off"  />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['firstName'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.LAST_NAME' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput id="lastName" formControlName="lastName" maxlength="50"
                          tabindex="3" [readonly]="!isEditEmployee" autocomplete="off" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['lastName'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.EMAIL' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="workingEmail" maxlength="50" tabindex="4"
                          [readonly]="!isEditEmployee" autocomplete="off"  />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['workingEmail'].errors?.email">
                    {{ 'VALIDATION_MESSAGE.EMAIL_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.PHONE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="workingPhone" maxlength="20" tabindex="5"
                          [readonly]="!isEditEmployee" autocomplete="off"  />
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.STATUS' | translate }}
                  </label>
                  <ng-select [items]="listWorkingStatus" [bindLabel]="'name'" [bindValue]="'id'"
                            formControlName="employeeWorkingStatusId" autocomplete="off"
                            [tabIndex]="6" [searchable]="true" [selectOnTab]="true"
                            placeholder="Chọn" [readonly]="!isEditEmployee"></ng-select>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['employeeWorkingStatusId'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.BADGE_CARD_NUMBER' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="badgeCardNumber" maxlength="10"
                          tabindex="6" [readonly]="!isEditEmployee" autocomplete="off" >
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.BADGE_CARD_DATE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput [matDatepicker]="dateApplyBadgeDatepicker" formControlName="dateApplyBadge"
                            maxlength="10" tabindex="7" [readonly]="!isEditEmployee" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="dateApplyBadgeDatepicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dateApplyBadgeDatepicker [disabled]="!isEditEmployee"></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['dateApplyBadge'].errors?.date">
                    {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.DEPARTMENT' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.FINGER_SIGN_NUMBER' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="fingerSignNumber" maxlength="10"
                          tabindex="8" [readonly]="!isEditEmployee" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.FINGER_SIGN_DATE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput [matDatepicker]="dateApplyFingerSignDatepicker" [readonly]="!isEditEmployee"
                      formControlName="dateApplyFingerSign" maxlength="10" tabindex="9" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="dateApplyFingerSignDatepicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dateApplyFingerSignDatepicker [disabled]="!isEditEmployee"></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['dateApplyFingerSign'].errors?.date">
                    {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.POSITION' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.PROBATION_DATE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput [matDatepicker]="probationDateDatepicker" formControlName="probationDate"
                      maxlength="10" tabindex="10" [readonly]="!isEditEmployee" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="probationDateDatepicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #probationDateDatepicker [disabled]="!isEditEmployee"></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['probationDate'].errors?.date">
                    {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.WORKING_DATE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput [matDatepicker]="startWorkingDateDateicker" formControlName="startWorkingDate"
                      maxlength="10" tabindex="11" [readonly]="!isEditEmployee" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="startWorkingDateDateicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startWorkingDateDateicker [disabled]="!isEditEmployee"></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['startWorkingDate'].errors?.date">
                    {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.BASIC_SALARY' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput appFormatCurrency formControlName="basicSalary"
                          maxlength="12" tabindex="13" [readonly]="!isEditEmployee" autocomplete="off">
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['basicSalary'].errors?.money">
                    {{ 'VALIDATION_MESSAGE.MONEY_INVALID' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <input type="submit" class="btn btn-success" [value]="'BUTTON.SAVE' | translate" tabindex="14"
                    *ngIf="isEditEmployee">
                  <button type="button" class="btn btn-success" tabindex="15" *ngIf="!isEditEmployee" (click)="onEditClick()">
                    {{ 'BUTTON.UPDATE' | translate }}
                  </button>
                  <button type="button" class="btn btn-danger" tabindex="15" *ngIf="formAction == 2 && isEditEmployee" (click)="onCancelClick()">
                    {{ 'BUTTON.CANCEL' | translate }}
                  </button>
                  <button type="button" class="btn btn-warning" tabindex="16" *ngIf="isEditEmployee" (click)="onResetClick()">
                    {{ 'BUTTON.RESET' | translate }}
                  </button>
                  <button type="button" class="btn btn-secondary" tabindex="17" (click)="onCloseClick()">
                    {{ 'BUTTON.CLOSE' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
          </div>
        </div>
        <div class="row" *ngIf="formAction === 2">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <ul class="nav nav-tabs left-tabs">
              <li class="nav-item">
                <a class="nav-link active" [class]="{'disabled': currentSelectedEmployee === undefined}" href="#personalInfo" data-toggle="tab">
                  {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.TITLE' | translate }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" data-toggle="tab">
                  Thông tin liên hệ
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" data-toggle="tab">
                  Bằng cấp
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" data-toggle="tab">
                  Chứng chỉ
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" href="#relationship"
                  (click)="onSelectTab('relationship')" data-toggle="tab">
                  {{ 'SCREEN.HR.EMPLOYEE.RELATIONSHIP.TITLE' | translate }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" href="#ipsum-left" data-toggle="tab">
                  Ipsum
                </a>
              </li>
              <li class="nav-item">
                <!-- use the title attribute to show a tooltip with the full long name
                     in case the tab is trucated-->
                <a
                  class="nav-link"
                  href="#llanfairpwllgwyngyll-left"
                  title="3423 "
                  data-toggle="tab"
                  >234234 </a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
            <div class="tab-content">
              <div class="tab-pane active" id="personalInfo">
                <app-hr-employee-personal-info [Employee]="currentSelectedEmployee"></app-hr-employee-personal-info>
              </div>
              <div class="tab-pane" id="relationship">
                <app-hr-employee-relationship [Employee]="currentSelectedEmployee"></app-hr-employee-relationship>
              </div>
              <article class="tab-pane" id="ipsum-left">
                <h1>Ipsum</h1>
                <section>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. A lacus vestibulum sed arcu. Mi tempus imperdiet nulla malesuada pellentesque.
                  Natoque penatibus et magnis dis parturient. Rhoncus aenean vel elit scelerisque mauris pellentesque.
                  In hendrerit gravida rutrum quisque non tellus orci ac. Lectus magna fringilla urna porttitor rhoncus
                  dolor. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Senectus et netus et malesuada fames
                  ac. Diam quis enim lobortis scelerisque fermentum. Praesent tristique magna sit amet purus gravida
                  quis. Elit eget gravida cum sociis natoque penatibus et magnis. Nibh praesent tristique magna sit amet
                  purus gravida. Cursus vitae congue mauris rhoncus. Id leo in vitae turpis massa. Blandit libero
                  volutpat sed cras. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna.
                </section>
              </article>
              <article class="tab-pane container" id="llanfairpwllgwyngyll-left">
                <h1>Llanfair­pwllgwyngyll­gogery­chwyrn­drobwll­llan­tysilio­gogo­goch</h1>
                <section>
                  <p><small>From Wikipedia, the free encyclopedia</small></p>
                </section>
                <section>
                  <p>
                    Llanfair­pwllgwyngyll­gogery­chwyrn­drobwll­llan­tysilio­gogo­goch (pronounced
                    [ˌɬanvair­pʊɬˌɡwɨ̞ŋɡɨ̞ɬ­ɡɔˌɡɛrə­ˌχwərn­ˌdrɔbʊɬ­ˌɬan­təˌsɪljɔ­ˌɡɔɡɔ­ˈɡoːχ] in Welsh), official short
                    form name Llanfairpwllgwyngyll (pronounced [ɬanˌvair puɬˈɡwɨ̞nɡɨ̞ɬ]), also spelled Llanfair
                    Pwllgwyngyll, is a large village and local government community on the island of Anglesey in Wales.
                    It is situated on the Menai Strait next to the Britannia Bridge and across the strait from Bangor.
                    While the official short form name is used in official contexts, both the full name and shortened
                    (Llanfairpwll or Llanfair PG) forms of the place name are used in various contexts.
                  </p>
                  <p>
                    <a
                      href="https://en.wikipedia.org/wiki/Llanfairpwllgwyngyll"
                      target="_blank"
                      title="Open Wikipedia article in a new tab."
                      >Full article &gt;</a
                    >
                  </p>
                </section>
              </article>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
