<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12">{{ panelTitle }}</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="employee-img">
              <img [src]="fileUrl || '/assets/images/no-image.png'" />
              <div class="upload-btn-wrapper" *ngIf="isEditEmployee">
                <button class="btn btn-file"><i class="fa fa-upload" aria-hidden="true"></i></button>
                <input type="file" (change)="onSelectFile($event.target.files)" />
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
            <form [formGroup]="employeeForm" (submit)="!isSubmit ? submitForm() : false" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.CODE' | translate}}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput id="employeeCode" formControlName="employeeCode" maxlength="50"
                          tabindex="1" [readonly]="!isEditEmployee" autocomplete="off" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['employeeCode'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.FIRST_NAME' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput id="firstName" formControlName="firstName" maxlength="50"
                          tabindex="2" [readonly]="!isEditEmployee" autocomplete="off"  />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['firstName'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.LAST_NAME' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput id="lastName" formControlName="lastName" maxlength="50"
                          tabindex="3" [readonly]="!isEditEmployee" autocomplete="off" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['lastName'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.EMAIL' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="workingEmail" maxlength="50" tabindex="4"
                          [readonly]="!isEditEmployee" autocomplete="off"  />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['workingEmail'].errors?.email">
                    {{ 'VALIDATION_MESSAGE.EMAIL_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.PHONE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="workingPhone" maxlength="20" tabindex="5"
                          [readonly]="!isEditEmployee" autocomplete="off"  />
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.STATUS' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <mat-select formControlName="employeeWorkingStatusId" tabindex="6" [disabled]="!isEditEmployee">
                      <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                      <mat-option *ngFor="let item of listWorkingStatus" [value]="item.id">{{ item.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['employeeWorkingStatusId'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.BADGE_CARD_NUMBER' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="badgeCardNumber" maxlength="10"
                          tabindex="6" [readonly]="!isEditEmployee" autocomplete="off" >
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.BADGE_CARD_DATE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput [matDatepicker]="dateApplyBadgeDatepicker" formControlName="dateApplyBadge"
                            maxlength="10" tabindex="7" [readonly]="!isEditEmployee" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="dateApplyBadgeDatepicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dateApplyBadgeDatepicker [disabled]="!isEditEmployee"></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['dateApplyBadge'].errors?.date">
                    {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.DEPARTMENT' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.FINGER_SIGN_NUMBER' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="fingerSignNumber" maxlength="10"
                          tabindex="9" [readonly]="!isEditEmployee" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.FINGER_SIGN_DATE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput [matDatepicker]="dateApplyFingerSignDatepicker" [readonly]="!isEditEmployee"
                      formControlName="dateApplyFingerSign" maxlength="10" tabindex="10" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="dateApplyFingerSignDatepicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dateApplyFingerSignDatepicker [disabled]="!isEditEmployee"></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['dateApplyFingerSign'].errors?.date">
                    {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.POSITION' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <mat-select formControlName="currentPositionId" tabindex="11" [disabled]="!isEditEmployee">
                      <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                      <mat-option *ngFor="let item of listPosition" [value]="item.id">{{ item.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['currentPositionId'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.PROBATION_DATE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput [matDatepicker]="probationDateDatepicker" formControlName="probationDate"
                      maxlength="10" tabindex="10" [readonly]="!isEditEmployee" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="probationDateDatepicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #probationDateDatepicker [disabled]="!isEditEmployee"></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['probationDate'].errors?.date">
                    {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.WORKING_DATE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput [matDatepicker]="startWorkingDateDateicker" formControlName="startWorkingDate"
                      maxlength="10" tabindex="11" [readonly]="!isEditEmployee" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="startWorkingDateDateicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startWorkingDateDateicker [disabled]="!isEditEmployee"></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['startWorkingDate'].errors?.date">
                    {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.EMPLOYEE.FORM.BASIC_SALARY' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput appFormatCurrency formControlName="basicSalary"
                          maxlength="12" tabindex="13" [readonly]="!isEditEmployee" autocomplete="off">
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && employeeForm.controls['basicSalary'].errors?.money">
                    {{ 'VALIDATION_MESSAGE.MONEY_INVALID' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <input type="submit" class="btn btn-success" [value]="'BUTTON.SAVE' | translate" tabindex="14"
                    *ngIf="isEditEmployee && (permission.allowInsert || permission.allowUpdate)">
                  <button type="button" class="btn btn-success" tabindex="15" *ngIf="!isEditEmployee && permission.allowUpdate"
                        (click)="onEditClick()">
                    {{ 'BUTTON.UPDATE' | translate }}
                  </button>
                  <button type="button" class="btn btn-danger" tabindex="15" *ngIf="formAction == 2 && isEditEmployee && permission.allowUpdate"
                          (click)="onCancelClick()">
                    {{ 'BUTTON.CANCEL' | translate }}
                  </button>
                  <button type="button" class="btn btn-warning" tabindex="16" *ngIf="isEditEmployee"
                        (click)="onResetClick()">
                    {{ 'BUTTON.RESET' | translate }}
                  </button>
                  <button type="button" class="btn btn-secondary" tabindex="17" (click)="onCloseClick()">
                    {{ 'BUTTON.CLOSE' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr />
          </div>
        </div>
        <div class="row" *ngIf="formAction === 2">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <ul class="nav nav-tabs left-tabs">
              <li class="nav-item" *ngIf="personalInfoPermission.allowView === true">
                <a class="nav-link active" [class]="{'disabled': currentSelectedEmployee === undefined}" data-toggle="tab"
                  (click)="onSelectTab('personalInfo')" href="#personalInfo">
                  {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.TITLE' | translate }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" href="#contact"
                (click)="onSelectTab('contact')" data-toggle="tab">
                  {{ 'SCREEN.HR.EMPLOYEE.CONTACT.TITLE' | translate }}
                </a>
              </li>
              <li class="nav-item" *ngIf="educationPermission.allowView === true">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" href="#education"
                  (click)="onSelectTab('education')" data-toggle="tab">
                  {{ 'SCREEN.HR.EMPLOYEE.EDUCATION.TITLE' | translate }}
                </a>
              </li>
              <li class="nav-item" *ngIf="personalInfoPermission.allowView === true">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" href="#certificate"
                  (click)="onSelectTab('certificate')" data-toggle="tab">
                  {{ 'SCREEN.HR.EMPLOYEE.CERTIFICATE.TITLE' | translate }}
                </a>
              </li>
              <li class="nav-item" *ngIf="identificationPermission.allowView === true">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" href="#identification"
                  (click)="onSelectTab('identification')" data-toggle="tab">
                  {{ 'SCREEN.HR.EMPLOYEE.IDENTIFICATION.TITLE' | translate }}
                </a>
              </li>
              <li class="nav-item" *ngIf="relationshipPermission.allowView === true">
                <a class="nav-link" [class]="{'disabled': currentSelectedEmployee === undefined}" href="#relationship"
                  (click)="onSelectTab('relationship')" data-toggle="tab">
                  {{ 'SCREEN.HR.EMPLOYEE.RELATIONSHIP.TITLE' | translate }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
            <div class="tab-content">
              <div class="tab-pane active" id="personalInfo" *ngIf="personalInfoPermission.allowView === true">
                <app-hr-employee-personal-info [employee]="currentSelectedEmployee"></app-hr-employee-personal-info>
              </div>
              <div class="tab-pane" id="education" *ngIf="educationPermission.allowView === true">
                <app-hr-employee-education [employee]="currentSelectedEmployee"></app-hr-employee-education>
              </div>
              <div class="tab-pane" id="contact" *ngIf="contactPermission.allowView === true">
                <app-hr-employee-contact [employee]="currentSelectedEmployee"></app-hr-employee-contact>
              </div>
              <div class="tab-pane" id="certificate" *ngIf="certificatePermission.allowView === true">
                <app-hr-employee-certificate [employee]="currentSelectedEmployee"></app-hr-employee-certificate>
              </div>
              <div class="tab-pane" id="identification" *ngIf="identificationPermission.allowView === true">
                <app-hr-employee-identification [employee]="currentSelectedEmployee"></app-hr-employee-identification>
              </div>
              <div class="tab-pane" id="relationship" *ngIf="relationshipPermission.allowView === true">
                <app-hr-employee-relationship [employee]="currentSelectedEmployee"></app-hr-employee-relationship>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
