$primary-background-color: #1A6E64;

@import '../../../../../assets/style/plugins/vtabs/b4vtabs.scss';

.employee-img {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.employee-img img {
  max-width: 190px;
  max-height: 190px;
  margin: 0 auto;
  display: block;
}

hr {
  border-top: 1px solid $primary-background-color;
}

.tab-content {
  padding-left: 0px;
  padding-right: 0px;
}

.nav-tabs .nav-link.disabled {
  color: black;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 65px;
  display: none;
}

.btn-file {
  border: 2px solid gray;
  background-color: white;
  padding: 8px 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 4px;
  top: 0;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.employee-img:hover .upload-btn-wrapper {
  display: inline-block;
}