$primary-background-color: #1A6E64;

@import '../../../../../assets/style/plugins/vtabs/b4vtabs.scss';

.employee-img {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

hr {
  border-top: 1px solid $primary-background-color;
}

.tab-content {
  padding-left: 0px;
  padding-right: 0px;
}

.nav-tabs .nav-link.disabled {
  color: black;
  background-color: #e9ecef;
  border-color: #e9ecef;
}