<div class="wrapper">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <app-main-menu></app-main-menu>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12" style="display: flex; align-items: stretch; width: 100%;">
        <ul class="nav module-sidebar flex-column" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="javascript: {}" class="nav-link">
              <p> Dashboard </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/hr/department">
              <p> Department </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/hr/team">
              <p> Team </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/hr/position">
              <p> {{ 'SCREEN.HR.POSITION.TITLE' | translate }} </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/hr/commendation" class="nav-link">
              <p> {{ 'SCREEN.HR.COMMENDATION.TITLE' | translate }} </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a href="javascript: {}" class="nav-link" routerLink="/hr/discipline">
              <p> {{ 'SCREEN.HR.DISCIPLINE.TITLE' | translate }} </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/hr/employee" class="nav-link">
              <p>
                {{ 'SCREEN.HR.EMPLOYEE.TITLE' | translate }}
                <span class="right badge badge-danger">100</span>
              </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/hr/leave" class="nav-link" (click)="openSideMenu('leave')"
              [ngClass]="{'menu-open': linkSelected === 'leave'}">
              <p> Leave Management <i class="fa fa-angle-left right"></i></p>
            </a>
            <ul class="nav" [ngStyle]="{'display': linkSelected === 'leave' ? 'block' : 'none'}">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/leave/summary">
                  <p> Summary </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/leave/add-leave">
                  <p> Add Leave </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/hr/holiday" class="nav-link">
              <p> Holiday Management</p>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="openSideMenu('configuration')" class="nav-link"
              [ngClass]="{'menu-open': linkSelected === 'configuration'}">
              <p>{{ 'SCREEN.HR.CONFIGURATION.TITLE' | translate }} <i class="fa fa-angle-left right"></i></p>
            </a>
            <ul class="nav" [ngStyle]="{'display': linkSelected === 'configuration' ? 'block' : 'none'}">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/province">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.PROVINCE.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/district">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.DISTRICT.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/ward">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.WARD.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/education">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.EDUCATION.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/model-of-study">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.MODEL_OF_STUDY.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/identification">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.IDENTIFICATION.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/qualification">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.QUALIFICATION.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/ranking">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.RANKING.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/contract-type">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.CONTRACT_TYPE.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/employee-status">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.WORKING_STATUS.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/relationship-type">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.RELATIONSHIP_TYPE.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/religion">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.RELIGION.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/ethnicity">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.ETHNICITY.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/nationality">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.NATIONALITY.TITLE' | translate }} </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/job-title">
                  <p> Job title</p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/configuration/approve-status">
                  <p> {{ 'SCREEN.HR.CONFIGURATION.APPROVE_STATUS.TITLE' | translate }} </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a (click)="openSideMenu('contact')" class="nav-link" [ngClass]="{'menu-open': linkSelected === 'contact'}">
              <p> Contacts <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav" [ngStyle]="{'display': linkSelected === 'contact' ? 'block' : 'none'}">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/contacts/external-user">
                  <p>External Users</p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/contacts/client">
                  <p>Clients</p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/hr/contacts/vendor">
                  <p>Vendors</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="row" style="width: 100%; margin-left: 1px;">
          <div class="col-lg-12 col-md-12 col-xs-12 main-page-contain">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
