.card {
  background-color: #fff;
  background-clip: none;
  border: 1px solid $card-background-color;
  border-radius: unset;
  margin-bottom: 10px;
}

.card-header {
  padding: 0.5rem .5rem;
  border: 1px solid $card-background-color;
  font-weight: bold;
  color: white;
  background-color: $card-background-color;
  font-family: "Helvetica Neue", sans-serif;
}

.card-header i {
  float: right;
  margin-top: .25rem;
  margin-left: 1rem;
}

.card-header:first-child {
  border-radius: unset;
}

.card-header:hover {
  cursor: pointer;
}

.card-body {
  padding: .5rem;
  position: relative;
}
