.module-sidebar {
  border: 1px solid $primary-background-color;
  min-width: 250px;
  max-width: 250px;
  margin-bottom: 20px;
  transition: 0.5s;
}


/* The sidebar links */

.module-sidebar>.nav-item {
  position: relative;
  padding: 0px;
  border-radius: unset;
}

.module-sidebar>.nav-item a:hover {
  color: white;
  background: $primary-background-color;
}

.module-sidebar>.nav-item .nav-link p {
  padding: 0px;
  margin: 0px;
}

.module-sidebar a {
  text-decoration: none;
  display: block;
  color: $primary-background-color;
  transition: 0.3s;
}

.module-sidebar .nav-link p {
  display: inline-block;
}

.module-sidebar .nav-link>.right,
.module-sidebar .nav-link>p>.right {
  position: absolute;
  right: 1rem;
  top: .7rem;
}

.module-sidebar .menu-open>p i.right {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.module-sidebar .nav-item.active a {
  color: white;
  background-color: $primary-background-color;
}

.module-sidebar .nav-item ul.nav>li>a {
  padding-left: 30px;
}


@media screen and (max-height: 450px) {
  .module-sidebar {
    padding-top: 15px;
  }

}
