<div id="left-sidebar" class="sidebar">
    <h5 class="brand-name">Epic HR</h5>
    <nav id="left-sidebar-nav" class="sidebar-nav">
        <div>
            <ul class="metismenu">
                <li>
                    <span class="g_heading">Directories</span>
                </li>
                <li>
                    <span>
                        <a aria-current="page" class="list-a active" href="/"><i class="icon-rocket"></i>HRMS<i class="caret-left"></i></a>
                    </span>
                    <ul class="in collapse collapse collapse collapse collapse collapse collapse collapse collapse">
                        <li><span class="active"><a aria-current="page" class="list-c active" href="/">Dashboard</a></span></li>
                        <li><span><a class="list-a" href="/hr-users">Users</a></span></li>
                        <li><span><a class="list-a" href="/hr-department">Department</a></span></li>
                        <li><span><a class="list-a" href="/hr-employee">Employee</a></span></li>
                        <li><span><a class="list-a" href="/hr-activities">Activities</a></span></li>
                        <li><span><a class="list-a" href="/hr-holidays">Holidays</a></span></li>
                        <li><span><a class="list-a" href="/hr-events">Events</a></span></li>
                        <li><span><a class="list-a" href="/hr-payroll">Payroll</a></span></li>
                        <li><span><a class="list-a" href="/hr-accounts">Accounts</a></span></li>
                        <li><span><a class="list-a" href="/hr-report">Report</a></span></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a aria-current="page" class="list-a active" href="/"><i class="icon-cup"></i>Project<i class="caret-left"></i></a>
                    </span>
                    <ul class="collapse collapse collapse collapse collapse collapse collapse" wfd-invisible="true">
                        <li><span><a class="list-a" href="/project-dashboard">Dashboard</a></span></li>
                        <li><span><a class="list-a" href="/project-list">Project List</a></span></li>
                        <li><span><a class="list-a" href="/project-taskboard">Taskboard</a></span></li>
                        <li><span><a class="list-a" href="/project-ticket">Ticket List</a></span></li>
                        <li><span><a class="list-a" href="/project-ticket-details">Ticket Details</a></span></li>
                        <li><span><a class="list-a" href="/project-clients">Clients</a></span></li>
                        <li><span><a class="list-a" href="/project-todo">Todo List</a></span></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a aria-current="page" class="list-a active" href="/"><i class="icon-briefcase"></i>Job Portal<i class="caret-left"></i></a>
                    </span>
                    <ul class="collapse collapse collapse collapse collapse" wfd-invisible="true">
                        <li><span><a class="list-a" href="/jobportal-dashboard">Job Dashboard</a></span></li>
                        <li><span><a class="list-a" href="/jobportal-positions">Positions</a></span></li>
                        <li><span><a class="list-a" href="/jobportal-applicants">Applicant</a></span></li>
                        <li><span><a class="list-a" href="/jobportal-resumes">Resumes</a></span></li>
                        <li><span><a class="list-a" href="/jobportal-settings">Settings</a></span></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a aria-current="page" class="list-a active" href="/"><i class="icon-lock"></i>Authentication<i class="caret-left"></i></a>
                    </span>
                    <ul class="collapse collapse collapse collapse collapse" wfd-invisible="true">
                        <li><span><a class="list-a" href="/login">Login</a></span></li>
                        <li><span><a class="list-a" href="/signup">Register</a></span></li>
                        <li><span><a class="list-a" href="/forgotpassword">Forgot Password</a></span></li>
                        <li><span><a class="list-a" href="/notfound">404 error</a></span></li>
                        <li><span><a class="list-a" href="/internalserver">500 Error</a></span></li>
                    </ul>
                </li>
                <li>
                    <span class="g_heading">Ui Elements</span>
                </li>
                <li><span><a class="list-a" href="/icons"><i class="icon-tag"></i>Icons</a></span></li>
                <li><span><a class="list-a" href="/charts"><i class="icon-bar-chart"></i>Charts</a></span></li>
                <li><span><a class="list-a" href="/forms"><i class="icon-layers"></i>Forms</a></span></li>
                <li><span><a class="list-a" href="/tables"><i class="icon-tag"></i>Tables</a></span></li>
                <li><span><a class="list-a" href="/widgets"><i class="icon-puzzle"></i>Widgets</a></span></li>
                <li><span><a class="list-a" href="/maps"><i class="icon-map"></i>Maps</a></span></li>
                <li><span><a class="list-a" href="/gallery"><i class="icon-picture"></i>Gallery</a></span></li>
            </ul>
        </div>
    </nav>
</div>