<app-hr-contract-type-form (reloadTableEvent)="reloadTableEventListener($event)"></app-hr-contract-type-form>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12"> {{'SCREEN.HR.CONFIGURATION.CONTRACT_TYPE.LIST_TITLE' | translate}}</div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-6 form-group">
            <button *ngIf="permission.allowInsert" class="btn btn-outline-info" (click)="onCreateClick()"><i class="fa fa-plus"></i>
              {{'BUTTON.ADD' | translate}}
            </button>
            <button *ngIf="permission.allowInsert" class="btn btn-outline-info" (click)="onImportClick()"><i class="fa fa-paperclip"></i>
              {{ 'BUTTON.IMPORT' | translate }}
            </button>
            <button *ngIf="permission.allowView" class="btn btn-outline-info" (click)="onExportClick()"><i class="fa fa-sign-in"></i>
              {{ 'BUTTON.EXPORT' | translate }}
            </button>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 form-group">
            <div class="input-group" *ngIf="paging.length > 0">
              <input type="text" [placeholder]="'TABLE.SEARCH' | translate" class="form-control" [(ngModel)]="searchText"
                (keyup.enter)="onFilterChange()">
              <div class="input-group-append">
                <button class="btn btn-outline-info" (click)="onFilterChange()">{{ 'TABLE.SEARCH' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-table-loading [Show]="isLoading"></app-table-loading>
            <table mat-table matSort [dataSource]="dataSource" class="table">
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-w-100">
                  {{'TABLE.LIST.CODE'|translate}}
                </th>
                <td mat-cell *matCellDef="let element">{{ element.code }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'TABLE.LIST.NAME'| translate}}
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'SCREEN.HR.CONFIGURATION.CONTRACT_TYPE.TABLE.DESCRIPTION' | translate}}
                </th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
              </ng-container>
              <ng-container matColumnDef="allowInsurance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-w-120">
                  {{'SCREEN.HR.CONFIGURATION.CONTRACT_TYPE.TABLE.INSURANCE' | translate}}
                </th>
                <td mat-cell *matCellDef="let element" class="center">
                  <label class="label label-outline-success" *ngIf="element.allowInsurance">
                    {{'TABLE.LIST.YES'|translate}}
                  </label>
                  <label class="label label-outline-danger" *ngIf="!element.allowInsurance">
                    {{'TABLE.LIST.NO'|translate}}
                  </label>
                </td>
              </ng-container>
              <ng-container matColumnDef="allowLeaveDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-w-120">
                  {{'SCREEN.HR.CONFIGURATION.CONTRACT_TYPE.TABLE.LEAVEDATE' | translate}}
                </th>
                <td mat-cell *matCellDef="let element" class="center">
                  <label class="label label-outline-success" *ngIf="element.allowLeaveDate">
                    {{'TABLE.LIST.YES'|translate}}
                  </label>
                  <label class="label label-outline-danger" *ngIf="!element.allowLeaveDate">
                    {{'TABLE.LIST.NO'|translate}}
                  </label>
                </td>
              </ng-container>
              <ng-container matColumnDef="precedence">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-w-80">
                  {{ 'TABLE.LIST.PRECEDENCE' | translate }}
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">{{ element.precedence }}</td>
              </ng-container>
              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef class="td-w-100 text-center">
                  {{ 'TABLE.LIST.STATUS' | translate }}
                </th>
                <td mat-cell *matCellDef="let element" class="center">
                  <label class="label label-outline-success" *ngIf="element.isActive">
                    {{ 'TABLE.LIST.ACTIVE' | translate }}
                  </label>
                  <label class="label label-outline-danger" *ngIf="!element.isActive">
                    {{ 'TABLE.LIST.DEACTIVATION' | translate }}
                  </label>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="td-w-70 text-center">
                  #
                </th>
                <td mat-cell *matCellDef="let element" class="center">
                  <div class=" btn-group" *ngIf="permission.allowUpdate || permission.allowDelete">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-bars"></i>
                    </a>
                    <div class="dropdown-menu dropdown-action-menu dropdown-menu-right" role="menu">
                      <a *ngIf="permission.allowUpdate" href="javascript:{}" class="dropdown-item text-success" (click)="onUpdateClick(element.id)">
                          {{ 'BUTTON.UPDATE' | translate }}
                        </a>
                      <a *ngIf="permission.allowDelete" href="javascript:{}" class="dropdown-item text-danger" (click)="onDeleteClick(element.id, element.rowVersion)">
                          {{ 'BUTTON.DELETE' | translate }}
                        </a>
                    </div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="listColumnsName"></tr>
              <tr mat-row *matRowDef="let row; columns: listColumnsName;"></tr>
            </table>
            <app-no-data-available [Show]="paging.length === 0"></app-no-data-available>
            <app-table-paginator [Paging]="paging" [IsLoading]="isLoading" (pageEventChange)="onPageChange($event)"></app-table-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
