@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

body {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-color: #f4f6f9;
	color: #434A54;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-font-feature-settings: "liga" 0;
	font-feature-settings: "liga" 0;
	overflow-y: scroll;
	position: relative
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.font-12 {
	font-size: 12px;
}

.font-14 {
	font-size: 14px;
}

.bg-blue {
	background-color: #2185d0
}

.bg-azure {
	background-color: #45aaf2
}

.bg-indigo {
	background-color: #6435c9
}

.bg-purple {
	background-color: #a333c8
}

.bg-pink {
	background-color: #e03997
}

.bg-red {
	background-color: #db2828
}

.bg-orange {
	background-color: #f2711c
}

.bg-yellow {
	background-color: #fbbd08
}

.bg-lime {
	background-color: #b5cc18
}

.bg-green {
	background-color: #21ba45
}

.bg-teal {
	background-color: #00b5ad
}

.bg-cyan {
	background-color: #17a2b8
}

.bg-gray {
	background-color: #666a6d!important
}

.bg-lightgray {
	background-color: #babdbf!important
}

.w20 {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.w250 {
    width: 250px;
}

.margin-0 {
	margin: 0 !important;
}

.pb-25 {
    padding-bottom: 25px;
}
.mt-5 {
    margin-top: 5px;
}
.ml-1, .mx-1 {
    margin-left: 0.25rem!important;
}
.mt-20 {
	margin-top: 20px;
}

.b-none {
	border: 0!important
}
.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}
.ml-3,
.mx-3 {
	margin-left: 1rem!important
}

.mr-3,
.mx-3 {
	margin-right: 1rem!important
}

.btn-block {
    display: block;
    width: 100%;
}

.font-weight-bold {
    font-weight: 700!important;
}

.float-right {
    float: right!important;
}

@media print {
	body {
		background: none
	}
}

a.icon {
	text-decoration: none;
	cursor: pointer
}

a.icon:hover {
	color: #2185d0 !important
}

body *::-webkit-scrollbar {
	width: 0px;
	height: 3px;
	transition: .3s background
}

body *::-webkit-scrollbar-thumb {
	background: #f8f9fa
}

body *:hover::-webkit-scrollbar-thumb {
	background: #f8f9fa
}

div.font-montserrat{
    font-family:"Montserrat",sans-serif
}
div.font-roboto{
    font-family:"Robot",sans-serif
}
div.font-opensans{
    font-family:"Open Sans",sans-serif;
    font-size:14px
}

#main_content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 100%
}

.page {
	transition: all .5s ease-in-out;
	left: 280px;
	flex: 1 1 auto;
	width: calc(100% - 280px);
	position: relative
}

.page {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	left: 280px;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: calc(100% - 280px);
	position: relative
}

@media screen and (max-width: 1200px) {
	.page {
		left: 60px;
		width: calc(100% - 60px)
	}
}

@media screen and (max-width: 767px) {
	.page {
		padding: 56px 0 0 0;
		width: 100%;
		left: 0
	}
}

.page .section-body,
.page .section-dark,
.page .section-gray,
.page .section-light,
.page .section-white {
	padding: 0 20px
}

@media screen and (max-width:767px) {
	.page .section-body,
	.page .section-dark,
	.page .section-gray,
	.page .section-light,
	.page .section-white {
		padding: 0
	}
}

.page .section-body {
	background: #f4f6f9
}

.page .section-body,
.page .section-white {
	background: #f1f1f1
}

#header_top {
	z-index: 1030;
	position: fixed;
	width: 60px;
	height: 100vh;
	top: 0;
	left: 0;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center
}

@media screen and (max-width: 1200px) {
	#header_top {
		background: #fff;
		border-right: 1px solid rgba(0, 40, 100, 0.12)
	}
}

@media screen and (max-width: 767px) {
	#header_top {
		border-bottom: 1px solid rgba(0, 40, 100, 0.12);
		background: #f8f9fa;
		flex-direction: row;
		height: auto;
		width: 100%;
		padding: 0 15px
	}
}

.header_top>.container {
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh
}

@media screen and (max-width: 767px) {
	.header_top>.container {
		flex-direction: row;
		height: 55px
	}
}

@media print {
	.container {
		max-width: none
	}
}

#header_top .header-avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	display: inline-block;
	vertical-align: bottom
}

#header_top .hright .dropdown-menu {
	top: 50px !important;
	left: 50px !important
}

#header_top .header-brand {
	padding: 0;
	transition: .3s opacity;
	margin-top: 10px;
	margin-bottom: 15px;
	display: inline-block
}

#header_top .header-brand:hover {
	opacity: .8;
	color: inherit;
	text-decoration: none
}

#header_top .brand-logo {
	background: #292b30;
	padding: 10px;
	color: #fff;
	border-radius: 35px;
	display: inline-block
}

@media screen and (max-width: 767px) {
	#header_top .hleft,
	#header_top .dropdown {
		display: flex;
		align-items: center
	}
	#header_top .header-brand {
		margin: 0;
		padding-right: 15px
	}
}

@media screen and (max-width: 767px) {
	#header_top .hright .dropdown-menu {
		top: 0 !important;
		left: auto !important
	}
}

@media screen and (max-width: 640px) {
	#header_top .header-brand {
		margin: 0 15px 0 0
	}
}

.dropdown {
	display: inline-block
}

.box-icon.sm {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center
}

.box-icon.md {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center
}

.box-icon.lg {
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center
}

.box-icon i {
	color: #fff;
	font-size: 18px
}

.icon i {
	vertical-align: -1px
}

#header_top .nav-link {
	padding: 12px;
	display: inline-flex;
	color: #333537
}

#header_top .nav-link i {
	font-size: 20px
}

#header_top .nav-link .avatar {
	border: 2px solid #fff
}

.nav-link,
.nav-item {
	padding: 0 .75rem;
	min-width: 2rem;
	transition: .3s color;
	user-select: none;
	cursor: pointer;
	display: flex;
	align-items: center
}

.avatar {
	color: #4D5052;
	font-weight: 600;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 50%;
	display: inline-block;
	background: #808488 no-repeat center/cover;
	position: relative;
	vertical-align: bottom;
	font-size: .875rem;
	user-select: none;
	text-align: center;
}

.avatar i {
	font-size: 125%;
	vertical-align: sub
}

.avatar-xl {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.75rem
}

.nav-tabs {
    transition: all .3s ease-in-out;
    color: #9aa0ac;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 -0.75rem;
}

.nav-tabs .nav-link {
    transition: border-color .3s;
    font-weight: 400;
    border: 0;
    color: inherit;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    padding: 1rem 0;
}

.nav-tabs .nav-link.active {
    border-color: #5a5278;
    color: #5a5278;
}

.nav-tabs .nav-link:hover:not(.disabled) {
	border-color: #6e7687;
	color: #6e7687
}

.nav-tabs .nav-link.disabled {
	opacity: .4;
	cursor: default;
	pointer-events: none
}

.social-links li a {
	background: #f8f8f8;
	border-radius: 50%;
	color: #9aa0ac;
	display: inline-block;
	height: 1.75rem;
	width: 1.75rem;
	line-height: 1.75rem;
	text-align: center
}

/*Tab panel*/

.tab-content>.active {
	display: block
}

.custom-control {
	position: relative;
	display: block;
	min-height: 1.5rem;
	padding-left: 1.5rem
}

.custom-control-inline {
	display: inline-flex;
	margin-right: 1rem
}

.custom-control-input {
	position: absolute;
	z-index: -1;
	opacity: 0
}

.custom-control-input:checked~.custom-control-label:before {
	color: #fff;
	border-color: #007bff;
	background-color: #007bff
}

.custom-control-input:focus~.custom-control-label:before {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.custom-control-input:focus:not(:checked)~.custom-control-label:before {
	border-color: #80bdff
}

.custom-control-input:not(:disabled):active~.custom-control-label:before {
	color: #fff;
	background-color: #b3d7ff;
	border-color: #b3d7ff
}

.custom-control-input:disabled~.custom-control-label {
	color: #6c757d
}

.custom-control-input:disabled~.custom-control-label:before {
	background-color: #e9ecef
}

.custom-control {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: top
}

.custom-control-label:before {
	pointer-events: none;
	background-color: #fff;
	border: 1px solid #adb5bd
}

.custom-control-label:after,
.custom-control-label:before {
	position: absolute;
	top: .25rem;
	left: -1.5rem;
	display: block;
	width: 1rem;
	height: 1rem;
	content: ""
}

.custom-control-label:after {
	background: no-repeat 50%/50% 50%
}

.custom-checkbox .custom-control-label:before {
	border-radius: .25rem
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:after {
	background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA4IDgnPjxwYXRoIGZpbGw9JyNmZmYnIGQ9J002LjU2NC43NWwtMy41OSAzLjYxMi0xLjUzOC0xLjU1TDAgNC4yNmwyLjk3NCAyLjk5TDggMi4xOTN6Jy8+PC9zdmc+)
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label:before {
	border-color: #007bff;
	background-color: #007bff
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label:after {
	background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0IDQnPjxwYXRoIHN0cm9rZT0nI2ZmZicgZD0nTTAgMmg0Jy8+PC9zdmc+)
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label:before {
	background-color: rgba(0, 123, 255, .5)
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label:before {
	background-color: rgba(0, 123, 255, .5)
}

.custom-radio .custom-control-label:before {
	border-radius: 50%
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
	background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9Jy00IC00IDggOCc+PGNpcmNsZSByPSczJyBmaWxsPScjZmZmJy8+PC9zdmc+)
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label:before {
	background-color: rgba(0, 123, 255, .5)
}

.custom-switch {
	padding-left: 2.25rem
}

.custom-switch {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	display: inline-flex;
	align-items: center;
	padding: 0
}

.custom-switch-input {
	position: absolute;
	z-index: -1;
	opacity: 0
}

.custom-switch .custom-control-label:before {
	left: -2.25rem;
	width: 1.75rem;
	pointer-events: all;
	border-radius: .5rem
}

.custom-switch .custom-control-label:after {
	top: calc(.25rem + 2px);
	left: calc(-2.25rem + 2px);
	width: calc(1rem - 4px);
	height: calc(1rem - 4px);
	background-color: #adb5bd;
	border-radius: .5rem;
	transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media(prefers-reduced-motion:reduce) {
	.custom-switch .custom-control-label:after {
		transition: none
	}
}

.custom-switch .custom-control-input:checked~.custom-control-label:after {
	background-color: #fff;
	transform: translateX(.75rem)
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label:before {
	background-color: rgba(0, 123, 255, .5)
}

.setting_switch .custom-switch {
	display: flex;
	justify-content: space-between
}

.setting_switch .custom-switch .custom-switch-description {
	margin: 0
}

.custom-controls-stacked .custom-control {
	margin-bottom: .25rem
}

.custom-switch-description {
	color: #666a6d;
	margin-left: .5rem;
	transition: color .3s
}

.custom-switch-input:checked~.custom-switch-description {
	color: #434a54
}

.custom-switch-indicator {
	border-radius: 50px;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	height: 1.25rem;
	width: 2.25rem;
	background: #d1d3d4;
	transition: border-color .3s, background-color .3s;
	position: relative;
	vertical-align: bottom;
	border: 1px solid rgba(0, 40, 100, .12)
}

.custom-switch-indicator:before {
	border-radius: 50%;
	height: calc(1.25rem - 4px);
	width: calc(1.25rem - 4px);
	top: 1px;
	left: 1px;
	background: #fff;
	content: "";
	position: absolute;
	transition: left .3s;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4)
}

.custom-switch-input:checked~.custom-switch-indicator {
	background: #2185d0
}

.custom-switch-input:checked~.custom-switch-indicator:before {
	left: calc(1rem + 1px)
}

.custom-switch-input:focus~.custom-switch-indicator {
	border-color: #2185d0
}

.mb-10, .setting-list li {
    margin-bottom: 10px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group, .form-label {
    display: block;
}

.progress {
	position: relative
}

.progress.box_shadow {
	box-shadow: 0 7px 10px rgba(41, 43, 48, .3)
}

.progress-xs,
.progress-xs .progress-bar {
	height: .25rem
}

.progress-sm,
.progress-sm .progress-bar {
	height: .5rem
}

.progress-bar-indeterminate:after,
.progress-bar-indeterminate:before {
	content: "";
	position: absolute;
	background-color: inherit;
	left: 0;
	will-change: left, right;
	top: 0;
	bottom: 0
}

.progress-bar-indeterminate:before {
	-webkit-animation: indeterminate 2.1s cubic-bezier(.65, .815, .735, .395) infinite;
	animation: indeterminate 2.1s cubic-bezier(.65, .815, .735, .395) infinite
}

.progress-bar-indeterminate:after {
	-webkit-animation: indeterminate-short 2.1s cubic-bezier(.165, .84, .44, 1) infinite;
	animation: indeterminate-short 2.1s cubic-bezier(.165, .84, .44, 1) infinite;
	-webkit-animation-delay: 1.15s;
	animation-delay: 1.15s
}


.media {
	display: flex;
	align-items: flex-start
}

.media-body {
	flex: 1 1
}

.media-icon {
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	border-radius: 100%
}

.media-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.list-inline,
.list-unstyled {
	padding-left: 0;
	list-style: none
}

.list-inline-item {
	display: inline-block
}

.list-inline-item:not(:last-child) {
	margin-right: 0rem
}

.custom-select {
	display: inline-block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem 1.75rem .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.custom-select:focus {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.custom-select:focus::-ms-value {
	color: #495057;
	background-color: #fff
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
	height: auto;
	padding-right: .75rem;
	background-image: none
}

.custom-select:disabled {
	color: #6c757d;
	background-color: #e9ecef
}

.custom-select::-ms-expand {
	display: none
}

.custom-select-sm {
	height: calc(1.5em + .5rem + 2px);
	padding-top: .25rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
	font-size: .875rem
}

.custom-select-lg {
	height: calc(1.5em + 1rem + 2px);
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 1rem;
	font-size: 1.25rem
}

.custom-control-label:before,
.custom-file-label,
.custom-select {
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media(prefers-reduced-motion:reduce) {
	.custom-control-label:before,
	.custom-file-label,
	.custom-select {
		transition: none
	}
}

@media screen and (max-width:767px) {
	.xs-hide {
		display: none!important
	}
	.sort_stat {
		margin-top: 15px
	}
}

.badge:empty {
	display: none
}

.nav-item .badge,
.nav-link .badge {
	position: absolute;
	top: 0;
	right: 0;
	padding: .2rem .25rem;
	min-width: 1rem
}

.dropdown {
    display: inline-block;
}

.dropdown-menu-left {
	right: auto;
	left: 0
}

.dropdown-menu-right {
	right: 0;
	left: auto
}

@media(min-width:576px) {
	.dropdown-menu-sm-left {
		right: auto;
		left: 0
	}
	.dropdown-menu-sm-right {
		right: 0;
		left: auto
	}
}

@media(min-width:768px) {
	.dropdown-menu-md-left {
		right: auto;
		left: 0
	}
	.dropdown-menu-md-right {
		right: 0;
		left: auto
	}
}

@media(min-width:992px) {
	.dropdown-menu-lg-left {
		right: auto;
		left: 0
	}
	.dropdown-menu-lg-right {
		right: 0;
		left: auto
	}
}

@media(min-width:1200px) {
	.dropdown-menu-xl-left {
		right: auto;
		left: 0
	}
	.dropdown-menu-xl-right {
		right: 0;
		left: auto
	}
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem
}

.dropup .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: .125rem
}

.dropup .dropdown-toggle:after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 0;
	border-right: .3em solid transparent;
	border-bottom: .3em solid;
	border-left: .3em solid transparent
}

.dropup .dropdown-toggle:empty:after {
	margin-left: 0
}

.dropright .dropdown-menu {
	top: 0;
	right: auto;
	left: 100%;
	margin-top: 0;
	margin-left: .125rem
}

.dropright .dropdown-toggle:after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid transparent;
	border-right: 0;
	border-bottom: .3em solid transparent;
	border-left: .3em solid
}

.dropright .dropdown-toggle:empty:after {
	margin-left: 0
}

.dropright .dropdown-toggle:after {
	vertical-align: 0
}

.dropleft .dropdown-menu {
	top: 0;
	right: 100%;
	left: auto;
	margin-top: 0;
	margin-right: .125rem
}

.dropleft .dropdown-toggle:after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	display: none
}

.dropleft .dropdown-toggle:before {
	display: inline-block;
	margin-right: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid transparent;
	border-right: .3em solid;
	border-bottom: .3em solid transparent
}

.dropleft .dropdown-toggle:empty:after {
	margin-left: 0
}

.dropleft .dropdown-toggle:before {
	vertical-align: 0
}

.dropdown-menu[x-placement^=bottom],
.dropdown-menu[x-placement^=left],
.dropdown-menu[x-placement^=right],
.dropdown-menu[x-placement^=top] {
	right: auto;
	bottom: auto
}

.dropdown-divider {
	height: 0;
	margin: .5rem 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #007bff
}

.dropdown-item.disabled,
.dropdown-item:disabled {
	color: #6c757d;
	pointer-events: none;
	background-color: transparent
}

.dropdown-menu.show {
	display: block
}

.dropdown-header {
	display: block;
	padding: .5rem 1.5rem;
	margin-bottom: 0;
	font-size: .875rem;
	color: #6c757d;
	white-space: nowrap
}

.dropdown-item-text {
	display: block;
	padding: .25rem 1.5rem;
	color: #212529
}

.dropdown-menu .dropdown-item {
	color: #333537;
	font-size: 14px;
	padding: 10px;
	margin: 0 10px;
	width: auto
}

.dropdown-menu {
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .25);
	border: 0;
	min-width: 12rem;
	font-size: 14px
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
	background: #e8e9e9
}

.dropdown-menu .dropdown-item:focus.readall,
.dropdown-menu .dropdown-item:hover.readall {
	background: 0 0;
	color: #2185d0!important
}

.dropdown-menu .dropdown-item>div {
	width: calc(100% - 50px)
}

.dropdown-menu .dropdown-item.readall {
	padding: 0
}

.dropdown-menu.dropdown-menu-arrow:after {
	display: inline-block;
	content: "";
	position: absolute;
	top: -10px;
	left: 12px;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-left: 10px solid transparent
}

.dropdown-menu.dropdown-menu-arrow.dropdown-menu-right:after,
.dropdown-menu.dropdown-menu-arrow.dropdown-menu-right:before {
	left: auto;
	right: 12px
}

.dropdown-toggle {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer
}

.dropdown-toggle:after {
	vertical-align: .155em
}

.dropdown-icon {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	margin-right: .5rem;
	vertical-align: -1px
}

.badge {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media(prefers-reduced-motion:reduce) {
	.badge {
		transition: none
	}
}

a.badge:focus,
a.badge:hover {
	text-decoration: none
}

.badge-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem
}

.badge-primary {
	color: #fff;
	background-color: #007bff
}

.badge-success {
	color: #fff;
	background-color: #28a745
}

.badge-success,
.bg-danger,
.bg-success,
.btn-danger,
.btn-warning,
.progress-bar {
	background-color: #e8769f;
	border: transparent
}

.gradient .badge-success,
.gradient .bg-danger,
.gradient .bg-success,
.gradient .btn-danger,
.gradient .progress-bar {
	background: linear-gradient(45deg, #5a5278, #e8769f)!important
}

a.badge-primary:focus,
a.badge-primary:hover {
	color: #fff;
	background-color: #0062cc
}

a.badge-primary.focus,
a.badge-primary:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.badge-secondary {
	color: #fff;
	background-color: #6c757d
}

a.badge-secondary:focus,
a.badge-secondary:hover {
	color: #fff;
	background-color: #545b62
}

a.badge-secondary.focus,
a.badge-secondary:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

a.badge-success:focus,
a.badge-success:hover {
	color: #fff;
	background-color: #1e7e34
}

a.badge-success.focus,
a.badge-success:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.badge-info {
	color: #fff;
	background-color: #17a2b8
}

a.badge-info:focus,
a.badge-info:hover {
	color: #fff;
	background-color: #117a8b
}

a.badge-info.focus,
a.badge-info:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.badge-warning {
	color: #212529;
	background-color: #ffc107
}

a.badge-warning:focus,
a.badge-warning:hover {
	color: #212529;
	background-color: #d39e00
}

a.badge-warning.focus,
a.badge-warning:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.badge-danger {
	color: #fff;
	background-color: #dc3545
}

a.badge-danger:focus,
a.badge-danger:hover {
	color: #fff;
	background-color: #bd2130
}

a.badge-danger.focus,
a.badge-danger:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.badge-light {
	color: #212529;
	background-color: #f8f9fa
}

a.badge-light:focus,
a.badge-light:hover {
	color: #212529;
	background-color: #dae0e5
}

a.badge-light.focus,
a.badge-light:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.badge-dark {
	color: #fff;
	background-color: #343a40
}

a.badge-dark:focus,
a.badge-dark:hover {
	color: #fff;
	background-color: #1d2124
}

a.badge-dark.focus,
a.badge-dark:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}
