<div class="row">
  <div class="col-12">
    <div class="card box" [class.opened]="showFormStatus()">
      <div class="card-header">
        <div class="row">
          <div class="col-12">{{ formTitle }}</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="wardForm" (submit)="!isLoading ? submitForm() : false">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.CONFIGURATION.WARD.FORM.PROVINCE_NAME' | translate}}
                  </label>
                  <div class="input-group">
                    <ng-select id="provinceId" [items]="provinceList" formControlName="provinceId" [bindLabel]="'name'" [bindValue]="'id'"
                      [selectOnTab]="true" tabindex="1" (change)="onProvinceChange($event)" class="form-control"
                      [ngClass]="{'is-invalid' : isSubmit && wardForm.controls['provinceId'].errors}">
                    </ng-select>
                    <div class="input-group-append" *ngIf="allowAddProvince()">
                      <button class="btn btn-outline-info" type="button" tabindex="2" (click)="onAddNewProvinceClick()">+</button>
                    </div>
                  </div>
                  <mat-error *ngIf="isSubmit && wardForm.controls['provinceId'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.CONFIGURATION.WARD.FORM.DISTRICT_NAME' | translate}}
                  </label>
                  <div class="input-group">
                    <ng-select [items]="districtDropdown" formControlName="districtId" [bindLabel]="'name'"
                      [bindValue]="'id'" [selectOnTab]="true" tabindex="3" class="form-control"
                      [ngClass]="{'is-invalid' : isSubmit && wardForm.controls['districtId'].errors}">
                    </ng-select>
                    <div class="input-group-append" *ngIf="allowAddDistrict()">
                      <button class="btn btn-outline-info" type="button" tabindex="4" (click)="onAddNewDistrictClick()">+</button>
                    </div>
                  </div>
                  <mat-error *ngIf="isSubmit && wardForm.controls['districtId'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">
                    {{ 'SCREEN.HR.CONFIGURATION.WARD.FORM.NAME' | translate}}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="name" maxlength="100" tabindex="5" autocomplete="off" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && wardForm.controls['name'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                  <label class="label">
                    {{ 'TABLE.LIST.PRECEDENCE' | translate }}
                  </label>
                  <mat-form-field class="form-control">
                    <input matInput appPrecedence formControlName="precedence" maxlength="3" tabindex="6" autocomplete="off" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && wardForm.controls['precedence'].errors?.required">
                    {{ 'VALIDATION_MESSAGE.EMPTY' | translate }}
                  </mat-error>
                  <mat-error *ngIf="isSubmit && wardForm.controls['precedence'].errors?.number">
                    {{ 'VALIDATION_MESSAGE.PRECEDENCE_INVALID' | translate }}
                  </mat-error>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                  <label class="label">
                    {{ 'TABLE.LIST.ACTIVE' | translate }}
                  </label>
                  <div class="input-group">
                    <mat-checkbox class="ml-10" tabindex="7" formControlName="isActive">
                    </mat-checkbox>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group" *ngIf="formAction != 0">
                  <input *ngIf="(permission.allowInsert && formAction === 1) || (permission.allowUpdate && formAction === 2)" type="submit" class="btn btn-success" [value]="'BUTTON.SAVE' | translate" tabindex="8">
                  <button type="button" class="btn btn-warning" tabindex="9" (click)="onResetClick()">
                    {{ 'BUTTON.RESET' | translate }}
                  </button>
                  <button type="button" class="btn btn-secondary" tabindex="10" (click)="onCloseClick()">
                    {{ 'BUTTON.CLOSE' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
