.form-control {
  border-radius: unset;
}

input[type="text"]:focus {
  border-color: #1A6E64;
  outline: 0;
  -webkit-box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px #1A6E64;
  box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px #1A6E64;
}

.mat-focused,
textarea:focus {
  border-color: #1A6E64 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px #1A6E64 !important;
  box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px #1A6E64 !important;
}

.text-sm {
  font-size: .875rem !important;
}

.text-muted {
  color: #1A6E64 !important;
}

.btn {
  padding: .2rem .75rem;
  margin-left: .1rem;
  margin-right: .1rem;
}

.form-control {
  height: calc(1.2em + .75rem + 2px);
  padding: .2rem .5rem;
}

button:focus {
  outline: unset !important;
  ;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
  font-weight: 400;
}

.is-invalid .ng-select-container {
  border-color: #dc3545;
}
