.mat-table {
  border: 1px solid #0000001f;
}

.table td,
.table th,
.table thead th {
  vertical-align: middle;
  padding: 6px !important;
}

.table td.center,
.table th.center {
  text-align: center;
}

tr.mat-header-row {
  height: 32px !important;
}

tr.mat-row,
tr.mat-footer-row {
  height: auto !important;
}

th.mat-sort-header-sorted {
  color: black;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-left: 2px solid #dee2e6;
}

.td-w-70 {
  width: 70px;
}

.td-w-100 {
  width: 100px;
}

.td-w-120 {
  width: 120px;
}

.td-w-200 {
  width: 200px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #1A6E64;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #1A6E64;
}

.mat-icon-button[disabled][disabled] {
  color: #00000042;
}

.mat-icon-button {
  color: #1A6E64;
}
