<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card box" [class.opened]="isShow">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Ranking</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="rankingForm" (submit)="!isLoading ? submitForm() : false">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Name</label>
                  <mat-form-field class="form-control">
                    <input matInput id="name" formControlName="name" maxlength="100" tabindex="1" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && rankingForm.controls['name'].errors?.required">Vui lòng điền thông tin</mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Precedence</label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="precedence" tabindex="2" maxlength="3" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && rankingForm.controls['precedence'].errors?.required">Vui lòng điền thông tin</mat-error>
                  <mat-error *ngIf="isSubmit && rankingForm.controls['precedence'].errors?.number">Số thứ tự không hợp lệ</mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Active</label>
                  <mat-checkbox class="ml-10" tabindex="3" formControlName="isActive">
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" *ngIf="formAction != 0">
                  <input type="submit" class="btn btn-success" value="Save" tabindex="4">
                  <button type="button" class="btn btn-warning" tabindex="5" (click)="onResetClick()"> Reset </button>
                  <button type="button" class="btn btn-secondary" tabindex="6" (click)="onCloseClick()"> Close </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
