<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Discipline</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="disciplineForm" (submit)="!isLoading ? submitForm() : false">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Name</label>
                  <input type="text" class="form-control" formControlName="name" maxlength="200" tabindex="1"
                    [ngClass]="{'is-invalid' : isSubmit && disciplineForm.controls['name'].errors}">
                  <div *ngIf="isSubmit && disciplineForm.controls['name'].errors" class="invalid-feedback">
                    <div *ngIf="disciplineForm.controls['name'].errors.required">This field is required</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Description</label>
                  <textarea rows="3" formControlName="description" maxlength="255" class="form-control"
                    tabindex="2"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Active</label>
                  <mat-checkbox class="ml-10" tabindex="3" formControlName="isActive">
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" *ngIf="formAction != 0">
                  <input type="submit" class="btn btn-success" value="Save" tabindex="4">
                  <button type="button" class="btn btn-warning" tabindex="5" (click)="reset()"> Reset </button>
                  <button type="button" class="btn btn-secondary" tabindex="6" (click)="close()"> Close </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
