<div class="wrapper">
  <div class="container-fluid">
    <div id="login">
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                    <div class="form-group text-center">
                      Logo here
                    </div>
                    <form class="form" [formGroup]="loginForm" (submit)="!isLoading ? onSubmitForm() : false"
                        autocomplete="off">
                      <h3 class="text-center text-info">Login</h3>
                      <div class="row">
                        <div class="col-md-12 col-xs-12 form-group">
                          <label class="text-info">User name:</label><br>
                          <input type="text" formControlName="userName" class="form-control"
                                  [ngClass]="{'is-invalid': submitted && loginForm.controls['userName'].errors}" tabindex="1">
                          <div *ngIf="submitted && loginForm.controls['userName'].errors" class="invalid-feedback">
                            <div *ngIf="loginForm.controls['userName'].errors.required">This field is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-xs-12 form-group">
                          <label class="text-info">Password:</label><br>
                          <input type="password" formControlName="password" class="form-control" tabindex="2"
                                  [ngClass]="{'is-invalid': submitted && loginForm.controls['password'].errors}">
                          <div *ngIf="submitted && loginForm.controls['password'].errors" class="invalid-feedback">
                            <div *ngIf="loginForm.controls['password'].errors.required">This field is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-xs-12 form-group">
                          <label class="text-info"><span>Remember me</span> 
                            <span><input formControlName="rememberMe" type="checkbox" tabindex="3"></span></label>
                        </div>
                      </div>
                      <app-warning-message [listMeg]="warningMessage"></app-warning-message>
                      <div class="row">
                        <div class="col-md-12 col-xs-12 form-group">
                          <button type="submit" name="submit" class="btn btn-info btn-md w-100" tabindex="4">
                            Login
                            <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-xs-12 text-center mb-0">Tran Dinh Hung</div>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
