<div class="row">
  <div class="col-12">
    <div class="card box" [class.opened]="showFormStatus()">
      <div class="card-header">
        <div class="row">
          <div class="col-12">Training Type</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="trainingTypeForm" (submit)="!isLoading ? submitForm() : false">
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">Name</label>
                  <mat-form-field class="form-control">
                    <input matInput id="name" formControlName="name" maxlength="100" tabindex="1" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && trainingTypeForm.controls['name'].errors?.required">{{ 'VALIDATION_MESSAGE.EMPTY' | translate }}</mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">Description</label>
                  <textarea rows="3" formControlName="description" maxlength="250" class="form-control"
                    tabindex="2"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">Precedence</label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="precedence" tabindex="2" maxlength="3" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && trainingTypeForm.controls['precedence'].errors?.required">{{ 'VALIDATION_MESSAGE.EMPTY' | translate }}</mat-error>
                  <mat-error *ngIf="isSubmit && trainingTypeForm.controls['precedence'].errors?.number">{{ 'VALIDATION_MESSAGE.PRECEDENCE_INVALID' | translate }}</mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <label class="label">Active</label>
                  <mat-checkbox class="ml-10" tabindex="4" formControlName="isActive">
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group" *ngIf="formAction != 0">
                  <input type="submit" class="btn btn-success" value="Save" tabindex="5">
                  <button type="button" class="btn btn-warning" tabindex="6" (click)="onResetClick()"> Reset </button>
                  <button type="button" class="btn btn-secondary" tabindex="7" (click)="onCloseClick()"> Close </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
