<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card box" [class.opened]="showFormStatus()">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ formTitle }}</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-2"></div>
          <div [class]="getClassByFormOrPopup()">
            <form [formGroup]="districtForm" (submit)="!isLoading ? submitForm() : false">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Tỉnh/Thành phố</label>
                  <div class="input-group">
                    <ng-select id="provinceId" [items]="provinceList" [bindLabel]="'name'" [bindValue]="'id'" [appendTo]="'body'"
                      formControlName="provinceId" tabindex="1" [selectOnTab]="true"
                      [closeOnSelect]="true" [searchFn]="onProvinceSearch" class="form-control"
                      [ngClass]="{'is-invalid' : isSubmit && districtForm.controls['provinceId'].errors}">
                    </ng-select>
                    <div class="input-group-append">
                      <button class="btn btn-outline-info" type="button" tabindex="2" (click)="onAddNewProvinceClick()">+</button>
                    </div>
                  </div>
                  <mat-error *ngIf="isSubmit && districtForm.controls['provinceId'].errors?.required">Vui lòng điền thông tin</mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Tên quận/huyện</label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="name" maxlength="100" tabindex="3" autocomplete="off"/>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && districtForm.controls['name'].errors?.required">Vui lòng điền thông tin</mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                  <label class="label">Thứ tự</label>
                  <mat-form-field class="form-control">
                    <input matInput formControlName="precedence" maxlength="3" tabindex="4" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && districtForm.controls['precedence'].errors?.required">Vui lòng điền thông tin</mat-error>
                  <mat-error *ngIf="isSubmit && districtForm.controls['precedence'].errors?.number">Precedence number is required</mat-error>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                  <label class="label">Hoạt động</label>
                  <div class="input-group">
                    <mat-checkbox class="ml-10" tabindex="5" formControlName="isActive">
                    </mat-checkbox>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" *ngIf="formAction != 0">
                  <input type="submit" class="btn btn-success" value="Lưu" tabindex="6">
                  <button type="button" class="btn btn-warning" tabindex="7" (click)="onResetClick()"> Đặt lại </button>
                  <button type="button" class="btn btn-secondary" tabindex="8" (click)="onCloseClick()"> Đóng </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
