<div class="wrapper">
    <div class="container-fluid">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 pr-0">
                <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link rounded-0" data-toggle="tab" role="tab" routerLink="/hr/employee/commendation">Commendation</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link rounded-0" data-toggle="tab" role="tab" routerLink="/hr/employee/contact">Contact</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link rounded-0" data-toggle="tab" role="tab" routerLink="/hr/employee/contract">Contract</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link rounded-0" data-toggle="tab" role="tab" routerLink="/hr/employee/dicipline">Dicipline</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link rounded-0" data-toggle="tab" role="tab" routerLink="/hr/employee/education">Education</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link rounded-0" data-toggle="tab" role="tab" routerLink="/hr/employee/identification">Identification</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link rounded-0" data-toggle="tab" role="tab" routerLink="/hr/employee/info">Info</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link rounded-0" data-toggle="tab" role="tab" routerLink="/hr/employee/relationship">Relationship</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 pl-0">
                <div class="tab-content pt-2 pl-3 h-100 border border-left-0" id="myTabContent">
                    
                </div>
            </div>
        </div>
    </div>
</div>