.main-menu {
    margin: 0px 0px 5px;
    padding: 1px 1px;
    border-bottom: 1px solid #1A6E64;
}

.main-menu li {
    margin-bottom: -2px;
    margin-right: 1px;
}

.main-menu li:hover,
.main-menu li.active {
    border-top: 1px solid #1A6E64;
    border-right: 1px solid #1A6E64;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #1A6E64;
}

.main-menu li a {
    padding: 0.2rem 1rem;
}