<div id="header_top" class="header_top false">
    <div class="container">
        <div class="hleft">
            <a aria-current="page" class="header-brand active" href="/"><i class="fe fe-command brand-logo"></i></a>
            <div class="dropdown">
                <a class="nav-link icon" href="/page-search"><i class="fa fa-search"></i></a>
                <a class="nav-link icon app_inbox" href="/app-calendar"><i class="fa fa-calendar"></i></a>
                <a class="nav-link icon xs-hide" href="/app-contact"><i class="fa fa-id-card-o"></i></a>
                <a class="nav-link icon xs-hide" href="/app-chat"><i class="fa fa-comments-o"></i></a>
                <a class="nav-link icon app_file xs-hide" href="/app-filemanager"><i class="fa fa-folder-o"></i></a>
            </div>
        </div>
        <div class="hright">
            <div class="dropdown">
                <span class="nav-link icon settingbar">
                    <i class="fa fa-gear fa-spin" data-toggle="tooltip" data-placement="right" title="Settings"></i>
                </span>
                <p class="nav-link user_btn">
                    <img class="avatar" src="images/user.png" alt="fake_alr" data-toggle="tooltip" data-placement="right" title="User Menu">
                </p>
                <p class="nav-link icon menu_toggle"><i class="fa  fa-align-left"></i></p>
            </div>
        </div>
    </div>
</div>