


.offcanvas-active #left-sidebar {
    left: -280px;
}

@media screen and (max-width:1200px) {
    .offcanvas-active #left-sidebar {
        left: 0;
        position: fixed;
        z-index: 99;
    }
}

@media screen and (max-width:767px) {
    .offcanvas-active #left-sidebar {
        left: 0;
        position: fixed;
    }
}

.offcanvas-active #left-sidebar {
    left: -280px;
}

@media screen and (max-width:1200px) {
    .offcanvas-active #left-sidebar {
        left: 0;
        position: fixed;
        z-index: 99;
    }
}

@media screen and (max-width:767px) {
    .offcanvas-active #left-sidebar {
        left: 0;
        position: fixed;
    }
}

#left-sidebar {
    transition: all .3s ease-in-out;
    width: 280px;
    background-color: #fff;
    border-right: 1px solid #e6e9ed;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    padding: 20px 15px 20px 75px
}

@media screen and (max-width:1200px) {
    #left-sidebar {
        left: -280px
    }
}

@media screen and (max-width:767px) {
    #left-sidebar {
        padding-top: 65px;
        padding-left: 20px
    }
}

#left-sidebar > .container {
    padding: 0
}

#left-sidebar .brand-name {
    margin-top: 5px
}

#left-sidebar .sidebar-nav {
    height: calc(100vh - 58px);
    overflow-y: auto;
    margin-right: -15px
}

@media screen and (max-width:767px) {
    #left-sidebar .sidebar-nav {
        padding-bottom: 40px;
        height: calc(100vh - 97px)
    }
}

#left-sidebar .menu_option {
    transition: all .3s ease-in-out;
    opacity: .3
}

    #left-sidebar .menu_option.active,
    #left-sidebar .menu_option:hover {
        opacity: 1
    }

#left-sidebar .nav-item,
#left-sidebar .nav-link {
    min-width: auto
}

.metismenu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none
}

    .metismenu .g_heading {
        margin-top: 20px
    }

    .metismenu .arrow {
        float: right;
        line-height: 1.42857
    }

    .metismenu .collapse {
        display: none
    }

        .metismenu .collapse.in {
            display: block
        }

    .metismenu .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition-timing-function: ease;
        transition-duration: .35s;
        transition-property: height, visibility
    }

    .metismenu .has-arrow {
        position: relative
    }

        .metismenu .has-arrow:after {
            transition: all .5s ease-in-out;
            position: absolute;
            color: #babdbf
        }

    .metismenu .g_heading {
        font-size: 11px;
        text-transform: uppercase;
        color: #666a6d;
        padding-left: 0
    }

    .metismenu > li {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        position: relative
    }

        .metismenu > li i {
            font-size: 16px;
            width: 30px;
            display: inline-block;
            position: relative;
            top: 1px
        }

    .metismenu a {
        transition: all .3s ease-out;
        display: block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: block;
        border-radius: 0;
        border-right: 2px solid transparent;
        color: #292b30;
        position: relative;
        padding: 10px 0;
        outline-width: 0;
        font-size: 14px
    }

        .metismenu a:hover {
            letter-spacing: 1px
        }

    .metismenu .active > a {
        font-weight: 600;
        color: #292b30;
        border-color: #292b30
    }

    .metismenu .active ul .active a {
        color: #292b30
    }

    .metismenu ul {
        padding: 0;
        list-style: none
    }

        .metismenu ul > li:last-child {
            padding-bottom: 20px
        }

        .metismenu ul a {
            color: #4d5052;
            font-size: 14px;
            padding: 5px 15px 5px 30px;
            position: relative
        }

            .metismenu ul a:before {
                font-size: 14px;
                font-family: feather !important;
                content: "\e999";
                position: absolute;
                left: 1px
            }

            .metismenu ul a.list-b:before {
                content: "\e945"
            }

            .metismenu ul a.list-c:before {
                content: "\e911"
            }

        .metismenu ul ul a {
            padding: 10px 15px 10px 70px
        }

        .metismenu ul.collapse a:focus,
        .metismenu ul.collapse a:hover {
            text-decoration: none
        }

    .metismenu.grid {
        flex-wrap: wrap;
        flex-direction: unset;
        position: relative;
        margin-top: 25px;
        padding-right: 15px
    }

        .metismenu.grid .g_heading {
            display: none
        }

        .metismenu.grid > li {
            text-align: center;
            position: static
        }

            .metismenu.grid > li > a {
                border-radius: 3px;
                border: 1px solid rgba(41, 43, 48, .05);
                padding: 10px;
                margin-bottom: 5px;
                width: 90px;
                height: 70px;
                line-height: 28px
            }

                .metismenu.grid > li > a:hover {
                    letter-spacing: normal
                }

@media screen and (max-width:767px) {
    .metismenu.grid > li > a {
        width: 115px
    }
}

.metismenu.grid > li > a i {
    width: auto
}

.metismenu.grid > li > a span {
    display: block;
    line-height: normal;
    width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 13px
}

@media screen and (max-width:767px) {
    .metismenu.grid > li > a span {
        width: 100%
    }
}

.metismenu.grid > li ul {
    box-shadow: 0 3px 15px rgba(41, 43, 48, .2);
    border-radius: 3px;
    padding: 10px;
    text-align: left;
    margin: 40px 7px 0;
    position: absolute;
    background: #fff;
    z-index: 999;
    width: 180px;
    left: 0
}

    .metismenu.grid > li ul li {
        padding: 0
    }

.metismenu.grid .has-arrow:after {
    line-height: normal;
    top: 10px;
    right: 10px
}
