@inherits LayoutComponentBase

<div id="root">
    <div id="main_content">
        <div style="display: block;">
            <HeaderTop />
            <RightSidebar />
            <div class="theme_div"><!--Todo--></div>
            <UserInfo />
            <LeftSidebar />
        </div>
        <div class="page">
            <TopNav />
            <div class="section-body  mt-3">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-12">
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
