@inherits LayoutComponentBase

<div id="root" class="@(IsShowLeftSidebar ? "" : "offcanvas-active")">
    <div id="main_content">
        <div style="display: block;">
            <HeaderTop 
                OnShowRightSidebarClickEvent="OnShowHideRightSidebar" 
                OnShowUserInfoClickEvent="OnShowHideUserInfo" 
                OnShowLeftSidebarEvent="OnShowHideLeftSidebar" />
            <RightSidebar IsShow="IsShowRightBar" OnShowChangeEvent="(args => OnShowHideRightSidebar(args))" />
            <UserInfo IsShow="IsShowUserInfo" OnShowChangeEvent="(args => OnShowHideUserInfo(args))"/>
            <LeftSidebar />
        </div>
        <div class="page">
            <TopNav />
            <div class="section-body  mt-3">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-12">
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
