
.user_menu {
    transition: all .5s ease-in-out;
    box-shadow: 0 10px 15px rgba(41, 43, 48, .2);
    width: 300px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -350px;
    padding: 20px 15px;
    height: 100vh;
    overflow-y: auto;
    z-index: 9999;
}

    .user_menu.open {
        left: 0;
    }

    .user_menu .user_btn {
        float: right;
    }

    .user_menu .card {
        background: 0 0;
    }

    .user_menu .user_avatar {
        box-shadow: 0 5px 10px 0 rgba(41, 43, 48, .4);
        margin-top: 15px;
        margin-bottom: 20px;
        border: 5px solid #fff;
        height: 120px;
    }
