<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h1>{{ 'SCREEN.HR.EMPLOYEE.TITLE' | translate }}: {{ employee?.fullName }}</h1>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right" *ngIf="employee">
    <button *ngIf="permission.allowInsert === true" type="button" class="btn btn-outline-info" (click)="onAddClick()">
      {{ 'BUTTON.ADD' | translate }}
      </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-table-loading [show]="isLoading"></app-table-loading>
    <table mat-table matSort [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="bankName">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          {{ 'SCREEN.HR.EMPLOYEE.BANK.BANK_NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.bankName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="accountNumber">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          {{ 'SCREEN.HR.EMPLOYEE.BANK.ACCOUNT_NUMBER' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.accountNumber }}
        </td>
      </ng-container>
      <ng-container matColumnDef="accountOwner">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          {{ 'SCREEN.HR.EMPLOYEE.BANK.ACCOUNT_OWNER' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.accountOwner }}
        </td>
      </ng-container>
      <ng-container matColumnDef="bankAddress">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          {{ 'SCREEN.HR.EMPLOYEE.BANK.BANK_ADDRESS' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.bankAddress }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="center td-w-70">#</th>
        <td mat-cell *matCellDef="let element" class="center">
          <div class="btn-group" *ngIf="permission.allowUpdate === true || permission.allowDelete === true">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars"></i>
            </a>
            <div class="dropdown-menu dropdown-action-menu dropdown-menu-right" role="menu">
              <a *ngIf="permission.allowUpdate === true" class="dropdown-item text-success"
                  href="javascript:{}" (click)="onUpdateClick(element.id)">
                {{ 'BUTTON.UPDATE' | translate }}
              </a>
              <a *ngIf="permission.allowDelete === true" class="dropdown-item text-danger"
                  href="javascript:{}" (click)="onDeleteClick(element.id, element.rowVersion)">
                {{ 'BUTTON.DELETE' | translate }}
              </a>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="listColumnsName"></tr>
      <tr mat-row *matRowDef="let row; columns: listColumnsName"></tr>
    </table>
  </div>
</div>

