<div class="card shadow-sm">
  <div class="card-header">Exercise
    <i class="fa fa-plus" aria-hidden="true"></i>
  </div>
  <div class="card-body scroll" style="height: 200px;">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col" style="width: 30px;">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col" style="width: 50px;">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <div class="btn-group">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars"></i>
            </a>
            <div class="dropdown-menu dropdown-action-menu dropdown-menu-right" role="menu" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-123px, -160px, 0px);">
              <a href="#" class="dropdown-item text-danger">Delete</a>
              <a href="#" class="dropdown-item text-success">Edit</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
          <div class="btn-group">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars"></i>
            </a>
            <div class="dropdown-menu dropdown-action-menu dropdown-menu-right" role="menu" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-123px, -160px, 0px);">
              <a href="#" class="dropdown-item text-danger">Delete</a>
              <a href="#" class="dropdown-item text-success">Edit</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>
          <div class="btn-group">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars"></i>
            </a>
            <div class="dropdown-menu dropdown-action-menu dropdown-menu-right" role="menu" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-123px, -160px, 0px);">
              <a href="#" class="dropdown-item text-danger">Delete</a>
              <a href="#" class="dropdown-item text-success">Edit</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br/><br/><br/><br/><br/><br/><br/><br/>
  abdksfd
  <br/><br/><br/><br/><br/><br/><br/><br/>
  sfsd
  <br/><br/><br/><br/><br/><br/><br/><br/>
  dfsdf
  <br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
  <div class="card-footer">Footer</div>
</div>
