<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card box" [class.opened]="showFormStatus()">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ formTitle }}</div>
        </div>
      </div>
      <div class="card-body">
        <app-element-loading [Show]="isLoading"></app-element-loading>
        <div class="row">
          <div class="col-lg-2"></div>
          <div [class]="getClassByFormOrPopup()">
            <form [formGroup]="nationalityForm" (submit)="!isLoading ? submitForm() : false">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="label">Tên</label>
                  <mat-form-field class="form-control">
                    <input matInput id="name" formControlName="name" maxlength="50" tabindex="1" autocomplete="off"/>
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && nationalityForm.controls['name'].errors?.required">Vui lòng điền thông tin</mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                  <label class="label">Thứ tự</label>
                  <mat-form-field class="form-control">
                    <input matInput appPrecedence formControlName="precedence" tabindex="2" maxlength="3" autocomplete="off" />
                  </mat-form-field>
                  <mat-error *ngIf="isSubmit && nationalityForm.controls['precedence'].errors?.required">Vui lòng điền thông tin</mat-error>
                  <mat-error *ngIf="isSubmit && nationalityForm.controls['precedence'].errors?.number">Số thứ tự không hợp lệ</mat-error>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                  <label class="label">Hoạt động</label>
                  <div class="input-group">
                    <mat-checkbox class="ml-10" tabindex="3" formControlName="isActive">
                    </mat-checkbox>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" *ngIf="formAction != 0">
                  <input type="submit" class="btn btn-success" value="Lưu" tabindex="4">
                  <button type="button" class="btn btn-warning" tabindex="5" (click)="onResetClick()"> Đặt lại </button>
                  <button type="button" class="btn btn-secondary" tabindex="6" (click)="onCloseClick()"> Đóng </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
