
.label-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 10%;
    padding: 2px 4px;
    margin: unset !important;
  }
  
  .label-outline-success {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 10%;
    padding: 2px 4px;
    margin: unset !important;
  }
  