
.mat-focused {
  border-color: $primary-background-color !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px $primary-background-color !important;
  -moz-box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px $primary-background-color !important;
  -ms-box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px $primary-background-color !important;
  -o-box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px $primary-background-color !important;
  box-shadow: inset 0 .5px .5px rgba(0, 0, 0, .075), 0 0 4px $primary-background-color !important;
}

.form-control .mat-form-field-flex {
  display: inline-flex;
  align-items: unset;
  box-sizing: border-box;
  width: 100%;
}

.form-control .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.form-control .mat-form-field-appearance-legacy,
.form-control .mat-form-field-underline {
  background-color: unset;
}

.form-control .mat-form-field-infix,
.form-control .mat-form-field-infix:focus {
  padding: .2em 0;
  border-top: unset;
}

.form-control .mat-form-field.mat-focused,
.form-control .mat-form-field-ripple {
  background-color: unset !important;
}

.mat-calendar-body-selected {
  background-color: $primary-background-color;
  color: #fff;
}

.mat-form-field-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $primary-background-color !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $primary-background-color !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $primary-background-color !important;
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: unset;
  background-size: noscript;
  background-repeat: noscript;
}

.mat-dialog-container {
  border-radius: 0px !important;
  box-shadow: unset !important;
  background: unset !important;
  color: unset !important;
}

.mat-dialog-container .card {
  margin-bottom: 0px;
  border: 1px solid #721c24;
}

.mat-dialog-container .card>.card-header {
  text-align: left;
}

.mat-dialog-container .card>.card-header h2 {
  margin: 2px 0 0px;
}

.mat-dialog-container .card>.card-header h2 i {
  float: left;
  margin-top: 7px;
  margin-left: 0px;
  margin-right: 8px;
}

.mat-dialog-container .card>.card-body {
  min-height: 70px;
}

.mat-dialog-container .card.box-confirm>.card-body {
  text-align: center;
}

.mat-dialog-container .card.box-confirm>.card-footer {
  text-align: center;
}

.mat-select-arrow {
  color: $primary-background-color !important;
}

.mat-form-field-appearance-legacy .mat-form-field-ripple {
  background-color: unset !important;
}

.mat-form-field-disabled {
  background-color: unset;
  opacity: 1;
}
.mat-icon-button[disabled][disabled] {
  color: #00000042;
}

.mat-icon-button {
  color: $primary-background-color;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $primary-background-color;
}

.mat-paginator-container .mat-form-field-disabled .mat-form-field-flex {
  border-bottom: 1px solid $primary-background-color;
}

.mat-paginator-container .mat-focused {
  border-color: unset !important;
  box-shadow: unset !important;
}

.mat-snack-bar-container {
  margin: 15px !important;
  padding: 14px 14px !important;
  min-width: 250px !important;
}

.snack-bar-dialog-success {
  background: transparent;
  box-shadow:unset;
}

.snack-bar-notify-success {
  color: white;
  background-color: #09710d;
  border-color: #28a745;
  box-shadow: unset;
}

.snack-bar-notify-warning {
  color: white;
  background-color: #e6ad03;
  border-color: #e6ad03;
  box-shadow: unset;
}

.snack-bar-notify-error {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
  box-shadow: unset;
}

.mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle {
  stroke: $primary-background-color !important;
}

.mat-header-cell, .mat-cell, .mat-footer-cell {
  font: $font-family;
  font-weight: 500;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  font: $font-family;
}

.mat-menu-item {
  font: $font-family;
}

.mat-modal-sm {
  width: 100%;
  max-width: unset !important;
}

.mat-modal-md {
  width: 100%;
  max-width: unset !important;
}

.mat-modal-lg {
  width: 100%;
  max-width: unset !important;
}

@media only screen and (min-width: 567px) {
  .mat-modal-sm {
    width: 300px;
  }

  .mat-modal-md {
    width: 400px;
  }

  .mat-modal-lg {
    width: 500px;
  }

}

@media only screen and (min-width: 992px) {

  .mat-modal-md {
    width: 600px;
  }

  .mat-modal-lg {
    width: 800px;
  }

}

@media only screen and (min-width: 1024px) {

  .mat-modal-md {
    width: 60%;
  }

  .mat-modal-lg {
    width: 80%;
  }

}

@media only screen and (min-width: 1366px) {

  .mat-modal-md {
    width: 50%;
  }

  .mat-modal-lg {
    width: 70%;
  }

}
