
  <form [formGroup]="form">
    <p class="screen">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <mat-checkbox class="ml-10" tabindex="4" formControlName="function" (change)="checkAll($event.checked)"></mat-checkbox>
        {{ Function.name }}
    </p>
    <div style="display: inline-grid; padding-left: 15px;" formArrayName="commands">
      <div *ngFor="let cmd of commands.controls; let i = index">
        <div [formGroupName]="i">
          <mat-checkbox class="ml-10 function"  formControlName="command"
                    (change)="commandChecked($event.checked, Function.commands[i].id)">
          {{ 'PERMISSION.' + Function.commands[i].name | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </form>

