<div class="row">
    <div class="col-12">
    <form [formGroup]="personalInfoForm" (submit)="!isLoading ? onSubmit() : false">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h1>{{ 'SCREEN.HR.EMPLOYEE.TITLE' | translate }}: {{ employee?.fullName }}</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right" *ngIf="employee && permission.allowUpdate === true">
          <input type="submit" class="btn btn-success" [value]="'BUTTON.SAVE' | translate" tabindex="14" *ngIf="isEdit">
          <button type="button" class="btn btn-success" tabindex="15" *ngIf="!isEdit" (click)="onEditClick()">
          {{ 'BUTTON.UPDATE' | translate }}
          </button>
          <button type="button" class="btn btn-danger" tabindex="15" *ngIf="isEdit" (click)="onCancelClick()">
          {{ 'BUTTON.CANCEL' | translate }}
          </button>
          <button type="button" class="btn btn-warning" tabindex="16" *ngIf="isEdit" (click)="onResetClick()">
          {{ 'BUTTON.RESET' | translate }}
          </button>
        </div>
        <div class="col-12">
          <hr/>
        </div>
      </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.DOB' | translate }}
                    </label>
                    <mat-form-field class="form-control">
                      <input matInput [matDatepicker]="dateOfBirthDatepicker" formControlName="dateOfBirth"
                        maxlength="10" tabindex="50" autocomplete="off" [readonly]="!isEdit" />
                      <mat-datepicker-toggle matSuffix [for]="dateOfBirthDatepicker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #dateOfBirthDatepicker [disabled]="!isEdit"></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="isSubmit && personalInfoForm.controls['dateOfBirth'].errors?.date">
                      {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                    </mat-error>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.GENDER' | translate }}
                    </label>
                    <div class="input-group">
                      <mat-radio-group formControlName="gender" tabindex="51" [disabled]="!isEdit" aria-label="Giới tính">
                        <mat-radio-button ngDefaultControl [value]="true" tabindex="52" >
                          {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.GENDER_MALE' | translate }}
                        </mat-radio-button>
                        &nbsp;&nbsp;&nbsp;
                        <mat-radio-button ngDefaultControl [value]="false" tabindex="53">
                          {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.GENDER_FEMALE' | translate }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.MARITAL_STATUS' | translate }}
                    </label>
                    <mat-form-field class="form-control">
                      <mat-select formControlName="maritalStatusId" [disabled]="!isEdit" tabindex="54">
                        <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                        <mat-option *ngFor="let item of listMaritalStatus" [value]="item.id">{{ item.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.NATIONALITY' | translate }}
                    </label>
                    <div class="input-group">
                      <mat-form-field class="form-control">
                        <mat-select formControlName="nationalityId" [disabled]="!isEdit" tabindex="55">
                          <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                          <mat-option *ngFor="let item of listNationality" [value]="item.id">{{ item.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="56" (click)="onAddNewNationalityClick()">+</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.ETHNICITY' | translate }}
                    </label>
                    <div class="input-group">
                      <mat-form-field class="form-control">
                        <mat-select formControlName="ethnicityId" tabindex="57" [disabled]="!isEdit">
                          <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                          <mat-option *ngFor="let item of listEthnicity" [value]="item.id">{{ item.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="58" (click)="onAddNewEthnicityClick()" >+</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.RELIGION' | translate }}
                    </label>
                    <div class="input-group">
                      <mat-form-field class="form-control">
                        <mat-select formControlName="religionId" tabindex="59" [disabled]="!isEdit">
                          <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                          <mat-option *ngFor="let item of listReligion" [value]="item.id">{{ item.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="60" (click)="onAddNewReligionClick()">+</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.EDUCATION' | translate }}
                    </label>
                    <div class="input-group">
                      <mat-form-field class="form-control">
                        <mat-select formControlName="academicLevelId" tabindex="61" [disabled]="!isEdit">
                          <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                          <mat-option *ngFor="let item of ListEducation" [value]="item.id">{{ item.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="62" (click)="onAddNewEducationClick()">+</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.QUALIFICATION' | translate }}
                    </label>
                    <div class="input-group">
                      <mat-form-field class="form-control">
                        <mat-select formControlName="professionalQualificationId" tabindex="63" [disabled]="!isEdit">
                          <mat-option value="">{{ 'MESSAGE.SELECT_OPTION' | translate }}</mat-option>
                          <mat-option *ngFor="let item of listQualification" [value]="item.id">{{ item.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="64" (click)="onAddNewQualificationClick()">+</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">

                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
