<div class="row">
    <div class="col-12">
    <form [formGroup]="personalInfoForm" (submit)="!isLoading ? onSubmit() : false">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h1>{{ 'SCREEN.HR.EMPLOYEE.TITLE' | translate }}: {{ Employee?.fullName }}</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right" *ngIf="Employee">
          <input type="submit" class="btn btn-success" [value]="'BUTTON.SAVE' | translate" tabindex="14" *ngIf="isEdit">
          <button type="button" class="btn btn-success" tabindex="15" *ngIf="!isEdit" (click)="onEditClick()">
          {{ 'BUTTON.UPDATE' | translate }}
          </button>
          <button type="button" class="btn btn-danger" tabindex="15" *ngIf="isEdit" (click)="onCancelClick()">
          {{ 'BUTTON.CANCEL' | translate }}
          </button>
          <button type="button" class="btn btn-warning" tabindex="16" *ngIf="isEdit" (click)="onResetClick()">
          {{ 'BUTTON.RESET' | translate }}
          </button>
        </div>
        <div class="col-12">
          <hr/>
        </div>
      </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.DOB' | translate }}
                    </label>
                    <mat-form-field class="form-control">
                      <input matInput [matDatepicker]="dateOfBirthDatepicker" formControlName="dateOfBirth"
                        maxlength="10" tabindex="1" autocomplete="off" [readonly]="!isEdit" />
                      <mat-datepicker-toggle matSuffix [for]="dateOfBirthDatepicker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #dateOfBirthDatepicker [disabled]="!isEdit"></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="isSubmit && personalInfoForm.controls['dateOfBirth'].errors?.date">
                      {{ 'VALIDATION_MESSAGE.DATE_INVALID' | translate }}
                    </mat-error>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.GENDER' | translate }}
                    </label>
                    <div class="input-group">
                      <mat-radio-group formControlName="gender" [disabled]="!isEdit" aria-label="Giới tính">
                        <mat-radio-button ngDefaultControl [value]="true" >
                          {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.GENDER_MALE' | translate }}
                        </mat-radio-button>
                        &nbsp;&nbsp;&nbsp;
                        <mat-radio-button ngDefaultControl [value]="false">
                          {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.GENDER_FEMALE' | translate }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.MATERIAL_STATUS' | translate }}
                    </label>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.NATIONALITY' | translate }}
                    </label>
                    <div class="input-group">
                      <ng-select [items]="nationalityList" [bindLabel]="'name'" [bindValue]="'id'"
                                formControlName="nationalityId" [searchable]="true" [selectOnTab]="true"
                                placeholder="Chọn" [readonly]="!isEdit" class="form-control" [loading]="nationalityLoading">
                      </ng-select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="4" (click)="onAddNewNationalityClick()">+</button>
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.ETHNICITY' | translate }}
                    </label>
                    <div class="input-group">
                      <ng-select [items]="ethnicityList" [bindValue]="'id'" [bindLabel]="'name'"
                                formControlName="ethnicityId" [selectOnTab]="true" [searchable]="true"
                                placeholder="Chọn" [readonly]="!isEdit" class="form-control" [loading]="ethnicityLoading">
                      </ng-select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="4" (click)="onAddNewEthnicityClick()" >+</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.RELIGION' | translate }}
                    </label>
                    <div class="input-group">
                      <ng-select [items]="religionList" [bindValue]="'id'" [bindLabel]="'name'"
                                formControlName="religionId" [selectOnTab]="true" [searchable]="true"
                                placeholder="Chọn" [readonly]="!isEdit" class="form-control" [loading]="religionLoading">
                      </ng-select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="4" (click)="onAddNewReligionClick()">+</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.EDUCATION' | translate }}
                    </label>
                    <div class="input-group">
                      <ng-select [items]="educationList" [bindValue]="'id'" [bindLabel]="'name'"
                                formControlName="academicLevelId" [selectOnTab]="true" [searchable]="true"
                                placeholder="Chọn" [readonly]="!isEdit" class="form-control" [loading]="educationLoading">
                      </ng-select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="4" (click)="onAddNewEducationClick()">+</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                    <label class="label">
                      {{ 'SCREEN.HR.EMPLOYEE.PERSONAL_INFO.QUALIFICATION' | translate }}
                    </label>
                    <div class="input-group">
                      <ng-select [items]="qualificationList" [bindValue]="'id'" [bindLabel]="'name'"
                                formControlName="professionalQualificationId" [selectOnTab]="true" [searchable]="true"
                                placeholder="Chọn" [readonly]="!isEdit" class="form-control" [loading]="qualificationLoading">
                      </ng-select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" [disabled]="!isEdit" type="button" tabindex="4" (click)="onAddNewQualificationClick()">+</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">

                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
